@function colour($key) {
  @if map-has-key($colours, $key) {
    @return map-get($colours, $key);
  }
 
  @warn "Unknown `#{$key}` in $colors.";
  @return null;
}

@each $i in $colours {
	.colour-#{nth($i, 1)} {
		color: nth($i, 2);
        &:visited {
           color: nth($i, 2); 
        }
        &:hover {
            border-bottom-color: nth($i, 2);
        }
	}
    .ad-optin .colour-#{nth($i, 1)} {
		border-color: nth($i, 2);
        &:focus {
            border-color: nth($i, 2);
        }
	}
    .ad-optin input[type="submit"].colour-#{nth($i, 1)} {
		background: nth($i, 2);
        &:hover {
            color: nth($i, 2);
        }
	}
}

.colour-white {
    color: #fff;
}