/* 
This map is used for a mobile first responsive coding 
approach mixin in _mixins.scss. Breakpoint names are 
inspired by bodies of water, because they expand and
shrink with the weather. These denote some default
screen breaks. More can be added if needed.

Vocabulary options: pond, brook, creek, gulf, sea.
*/
$breakpoints: (
    'stream': 320px,
    'thegap' : 480px,
    'brook': 500px,
    'creek': 600px,
    'pond': 700px,
    'river': 800px,
    'searchbar': 850px,
    'lake': 900px,
    'gulf': 1000px,
    'sea': 1200px,
    'ocean': 1600px
);

/// This a a map of the theme colours.
/// Never name variables by colour, instead use names
/// that signify their usage.

$colours: (
    primary: #41d5c2,
    secondary: #61516b,
    highlighter: #ff9676,
    detail: #3f3f3f,
    light: #eae9e8,
    darklight: #b5c2ca,
    bg: #f7f5f2,
    darkprimary: #31A092,
    quizgreen: #CBEAA6,
    quizred: #FFD6C9,
);

$line-h: 1.5em;
$line-l: 750px;
$maxwidth: 1000px;