.search-results, .search-no-results {
    
    .page-title {
        text-align: center;
        span {
            color: colour(highlighter);
        }
        padding: 0.5em;
    }
    article, .page-content {
        .entry-title a {
            color: colour(detail);
        }
        padding: 0 1em;
        max-width: $line-l;
        margin: 0 auto;
        margin-bottom: 2em;
        .entry-summary {
            margin-top: 1em;
        }
        .entry-footer {
            padding: 0.5em 0;
        }
    }
    
}