.single-sfwd-quiz {
    .entry-header {
        text-align: center;
        padding: 0 1em;
    }
    .entry-content {
        text-align: center;
    }
    .entry-footer {
        display: none;
    }
    input[name="startQuiz"], input[name="restartQuiz"], input[name="reShowQuestion"] {
            -webkit-appearance: none;
            border: 1px solid colour(highlighter);
            background-color: transparent;
            border-radius: 50px;
            color: colour(highlighter);
            padding: 0.5em 1.7em;
            transition: 0.5s ease all;
            margin: 0 1em;
            &:hover {
                color: #fff;
                border: 1px solid colour(highlighter);
                background-color: colour(highlighter);
            }
    }
    .wpProQuiz_content {
        h2 {
            display: none;
        }
        background-color: colour(bg);
        padding: 2em 1em;
        .wpProQuiz_progress {
            display: none;
        }
        .wpProQuiz_time_limit {
            .time {
                font-family: halant, serif;
                font-weight: normal;
                font-size: 18px;
            }
        }
        .wpProQuiz_reviewDiv {
            margin: 1em 0;
            margin-bottom: 0;
            padding-bottom: 2em;
            background-color: colour(bg);
            display: flex;
            flex-direction: column;
            align-items: center;
            input[type=button] {
                -webkit-appearance: none;
                outline: 0;
                border: 0px;
                box-shadow: none;
                background-color: transparent;
                border-radius: 0px;
                color: colour(darklight);
                cursor: pointer;
                transition: 0.5s ease all;
                &:hover {
                    color: colour(highlighter);
                }
            }
            .wpProQuiz_reviewColor {
                background-color: colour(highlighter) !important;
            }
            .wpProQuiz_reviewLegend li:first-child .wpProQuiz_reviewColor {
                background-color: colour(primary) !important;
            }
            .wpProQuiz_reviewQuestion {
                border: 0px;
                background-color: colour(bg);
                text-align: center;
                ol {
                    display: flex;
                    justify-content: center;
                    li {
                        color: colour(darklight);
                        border-color: #fff;
                        background-color: #fff;
                        box-shadow: none;
                        transition: 0.5s ease all;
                        &.wpProQuiz_reviewQuestionTarget {
                            border-color: colour(darklight);
                        }
                        &.wpProQuiz_reviewQuestionReview {
                            background-color: colour(highlighter);
                            color: #fff;
                            border-color: colour(highlighter);
                        }
                        &.wpProQuiz_reviewQuestionSolved {
                            background-color: colour(primary);
                            color: #fff;
                            border-color: colour(primary);
                        }
                    }
                }
            }
        }
        .wpProQuiz_quiz {
            background: colour(bg);
            .wpProQuiz_list {
                list-style: none;
                li {
                    max-width: $line-l;
                    margin: 1em auto;
                    &:before {
                        content: '';
                        margin: 0;
                    }
                    &.wpProQuiz_listItem {
                        padding: 1em;
                        display: flex;
                        flex-direction: column;
                        h5 {
                            display: none;
                        }
                        .wpProQuiz_question {
                            margin-bottom: 1em !important;
                        }
                        .wpProQuiz_question_text {
                            font-weight: bold;
                            margin-bottom: 1em;
                            
                        }
//                        .wpProQuiz_listItem {
                            span {
                                float: none !important;
                                text-align: center;
                                display: block;
                                margin-bottom: 1em;
                                span {
                                    display: inline;
                                }
                            }
                            .wpProQuiz_question_page {
                                display: block !important;
                                @extend h3;
                                span {
                                    font-weight: 300;
                                    display: inline;
                                }
                                margin-bottom: 0.5em;
                            }
//                        }
                        .wpProQuiz_questionList {
                            padding: 1.2em;
                            background: #fff;
                            border: 0px;
                            .wpProQuiz_questionListItem {
                                transition: 0.5s ease all;
                                text-align: left;
                                &:hover {
                                    background: colour(quizgreen);
                                }
                                label {
                                    margin-left: 33%;
                                    font-family: 'museo-sans', sans-serif;
                                }
                            }
                            .wpProQuiz_answerIncorrect {
                                background-color: colour(quizred);
                            }
                            .wpProQuiz_answerCorrect {
                                background-color: colour(quizgreen);
                            }
                        }
                        .wpProQuiz_response {
                            margin-top: 0em;
                            background: transparent;
                            border: 0px;
                            box-shadow: none;
                            padding: 1em;
                            margin-bottom: 0em;
                            span {
                                font-family: halant, serif;
                                font-size: 18px;
                                font-weight: 500;
                            }
                            .wpProQuiz_AnswerMessage {
                                margin-top: 1em;
                                margin-bottom: 0;
                                font-weight: bold;
                                p {
                                    font-weight: bold;
                                }
                            }
                        }
                        .wpProQuiz_QuestionButton {
                            float: none !important;
                            margin: 1em auto !important;
                            
                        }
                        input[name="skip"] {
                            order: 10;
                            -webkit-appearance: none;
                            border: 0px;
                            background-color: colour(bg);
                            color: colour(darklight);
                            font-weight: 500;
                        }
                        input[name="check"], input[name="next"] {
                            margin-top: 2em;
                            -webkit-appearance: none;
                            border: 1px solid colour(highlighter);
                            background-color: colour(highlighter);
                            border-radius: 50px;
                            color: #fff;
                            padding: 0.5em 1.7em;
                            transition: 0.5s ease all;
                            &:hover {
                                color: colour(highlighter);
                                border: 1px solid colour(highlighter);
                                background-color: transparent;
                            }
                        }
                        .wpProQuiz_questionList[data-type="cloze_answer"] {
                            .wpProQuiz_questionListItem {
                                text-align: center;
                                &:hover {
                                    background-color: transparent;
                                }
                                p {
                                    margin-bottom: 0;
                                    span {
                                        display: inline;
                                    }
                                }
                                .wpProQuiz_cloze {
                                    input:focus {
                                        background-color: colour(bg);
                                        font-weight: 300;
                                        font-style: italic;
                                    }
                                }
                            }
                        }
                        .wpProQuiz_questionList[data-type="sort_answer"] {
                            li.wpProQuiz_questionListItem.ui-sortable-handle, li.wpProQuiz_questionListItem.wpProQuiz_answerIncorrect, li.wpProQuiz_questionListItem.wpProQuiz_answerCorrect {
                                text-align: center;
                                margin-bottom: 1em;
                                .wpProQuiz_sortable {
                                    padding: 0.5em;
                                    background-color: colour(bg);
                                    border-color: colour(darklight);
                                    font-weight: 500;
                                    box-shadow: none;
                                    border-radius: 5px;
                                    width: 75%;
                                    margin: 0 auto;
                                }
                            }
                            li.wpProQuiz_questionListItem.wpProQuiz_answerIncorrect {
                                background-color: colour(quizred);
                            }
                            li.wpProQuiz_questionListItem.wpProQuiz_answerCorrect {
                                background-color: colour(quizgreen);
                            }
                            
                        }
                        .wpProQuiz_matrixSortString {
                            margin-bottom: 0;
                            background-color: #fff;
                            border-color: #fff;
                            ul.wpProQuiz_sortStringList {
                                display: flex;
                                justify-content: center;
                            }
                            li.wpProQuiz_sortStringItem {
                                padding: 0.5em;
                                background-color: colour(bg);
                                border-color: colour(darklight);
                                font-weight: 500;
                                box-shadow: none;
                                border-radius: 5px;
//                                width: 75%;
                                margin: 1em;
                            }
                        }
                        .wpProQuiz_questionList[data-type="matrix_sort_answer"] {
                            li {
                                margin: 0;
                                padding: 0;
                                .wpProQuiz_mextrixTr td:first-child {
                                    border: 0px;
                                    border-right: 1px solid colour(darklight);
                                    border-bottom: 1px solid colour(darklight);
                                    border-top: 1px solid colour(darklight);
                                    padding: 0.5em;
                                }
                                .wpProQuiz_mextrixTr td:last-child {
                                    border: 0px;
                                    border-bottom: 1px solid colour(darklight);
                                    border-top: 1px solid colour(darklight);
                                }
                                .wpProQuiz_mextrixTR td {
//                                    padding: 0.5em;
                                    li.wpProQuiz_sortStringItem {
                                        padding: 0.5em;
                                        background-color: colour(bg);
                                        border-color: colour(darklight);
                                        font-weight: 500;
                                        box-shadow: none;
                                        border-radius: 5px;
        //                                width: 75%;
//                                        margin: 1em;
                                    }
                                }
                            }
                        }
                        .wpProQuiz_questionList[data-type="assessment_answer"] {

                            li.wpProQuiz_questionListItem {
                                &:hover {
                                    background-color: transparent;
                                }
                                p {
                                    text-align: center;
                                    margin-bottom: 0;
                                        label {
                                            margin: 0;
                                            padding: 0.5em;
                                            display: inline-flex;
                                            flex-direction: column;
                                            align-items: center;
                                            input {
                                                order: 2;
                                            }
                                        }
                                }
                            }
                        }
                        .wpProQuiz_questionList[data-type="multiple"] {
                            display: flex;
                            justify-content: center;
                            li {
                                margin: 0;
                                label {
                                    margin: 0;
                                    padding: 0.1em;
                                    &:hover {
//                                        color: colour(highlighter);
                                    }
                                    input {
                                        display: none;
                                    }
                                }
                                input:checked {
//                                    display: inline;
                                    
                                }
                            }
                            li.checked {
                                background-color: colour(quizgreen);
                            }
                        }
                    }
                }
            }
        }
        .wpProQuiz_results {
            h4 {
                @extend h2;
            }
            .wpProQuiz_resultsList {
                li {
                    &:before {
                        display: none;
                    }
                    font-style: italic;
                    font-weight: 300;
                }
            }
        }
        .quiz_continue_link {
            margin-bottom: 5em;
            a#quiz_continue_link {
                border: 1px solid colour(highlighter);
                background-color: colour(highlighter);
                border-radius: 50px;
                color: #fff;
                padding: 0.5em 1.7em;
                transition: 0.5s ease all;
                &:hover {
                    color: colour(highlighter);
                    border: 1px solid colour(highlighter);
                    background-color: transparent;
                }
            }
        }
    }
}