.single-sfwd-lessons {
    .site-main {
        border: colour(primary) 7px solid;
        border-top: 0;
        border-image: url(imgs/border-gradient4.png) 1 stretch;
    }
    .lessons-header {
        .site-branding {
            padding: 1em;
            flex-direction: column;
        }
        margin-bottom: 0;
        h5 {
            margin-bottom: 0em;
            font-family: 'museo-sans', sans-serif;
            text-transform: uppercase;
        }
        h1 {
            margin-bottom: 0;
            font-size: 26px;
        }
    }
    .learndash__lesson-video {
//        margin: 0;
//        position: relative;
//        padding-bottom: 56.25%; /* 16:9 */
//        padding-top: 25px;
//        height: 0;
//        margin-bottom: 3em;
        iframe, object, embed {
//            position: absolute;
//            top: 0;
//            left: 0;
            width: 100%;
            min-height: 300px;
            @include respond-to(pond) {
                min-height: 400px;
            }
            @include respond-to(lake){
                min-height: 500px;
            }
            @include respond-to(sea) {
                min-height: 600px;
            }
            
            max-height: 800px;
            .vp-player-layout {
                left: 0px !important;
                width: 100% !important;
                height: inherit !important;
            }
        }
    }
    .entry-content {
        margin-top: 0;
        text-align: center;
//        padding-top: 3em;
        .ad-ld-video {
            margin-bottom: 3em;
        }
        .learndash_content {
            padding-top: 3em;
        }
        p {
            max-width: $line-l;
            padding: 0 1em;
            margin-right: auto; 
            margin-left: auto;
            &:first-of-type {
//                margin-top: 3em;
            }
        }

    }
//    #comments {
//        padding: 3em 1em;
//        background: colour(bg);
//        .comments-title {
//            text-align: center;
//            color: colour(secondary);
//            margin-bottom: 1em;
//        }
//        #reply-title, .logged-in-as, .comment-form-comment label {
//            display: none;
//        }
//        #respond, .comment-list {
//            max-width: $line-l;
//            margin: 0 auto;
//        }
//        #respond {
//            margin-bottom: 4em;
//            textarea#comment {
//                border-radius: 50px;
//                border-color: transparent;
//                padding: 2em;
//            }
//            .form-submit {
//                text-align: center;
//                input[type="submit"]{
//                    -webkit-appearance: none;
//                    border-radius: 50px;
//                    background-color: colour(secondary);
//                    color: #fff;
//                    border-color: colour(secondary);
//                    padding: 0.5em 3em;
//                    font-family: halant, serif;
//                    font-size: 20px;
//                    
//                }
//            }
//        }
//        .comment-list {
//            list-style: none;
//            .comment-meta {
//                color: colour(secondary);
//                .comment-author {
//                    margin-right: 0.5em;
//                }
//            }
//            a {
//                color: colour(secondary);
//                &:hover {
//                    border-color: colour(secondary);
//                }
//            }
//            .reply {
//                text-transform: uppercase;
//            }
//            li.comment {
//                border-radius: 50px;
////                border: 2px solid #fff;
//                margin-bottom: 2em;
//                article {
//                    padding: 1em 2em;
//                    border-radius: 40px;
//                    background: colour(light);
//                    display: flex;
//                    flex-direction: column;
//                    .comment-meta {
//                        order: 2;
//                        display: flex;
//                        .user-karma {
//                            display: none;
//                        }
//                    }
//                }
//            }
//            li.comment {
//                .children {
//                    background: #fff;
//                    list-style: none;
//                    margin: 0;
//                    margin-top: 0.2em;
//                    border: 2px solid #fff;
//                    border-bottom-left-radius: 40px;
//                    border-bottom-right-radius: 40px;
//                    .comment-meta {
//                        color: colour(darklight);
//                        .comment-author {
//                            margin-right: 0.5em;
//                        }
//                    }
//                    a {
//                        color: colour(darklight);
//                    }
//                    .comment {
//                        border: 0;
//                    }
//                    .comment article {
//                        background: #fff;
//                        margin-bottom: 2em;
//                        border: 0;
//                    }
//                }
//            }
//            li.parent {
//                article {
//                    margin-bottom: 0;
//                    border-radius: 0;
//                    border-top-left-radius: 40px;
//                    border-top-right-radius: 40px;
//                }
//            }
//        }
//        
//    }
    .lesson-completed {
        .fa-check {
            margin-left: 0.2em;
        }
        .button {

        }
    }
    .mark-complete-message {
        -webkit-appearance: none;
        outline: 0;
        color: #fff;
        border: 0;
        border: 1px solid colour(highlighter);
        background-color: colour(highlighter);
        border-radius: 50px;
        color: #fff;
        padding: 0.5em 1.7em;
        font-family: halant, serif;
        font-weight: 300;
        transition: all 0.5s ease;
        margin-bottom: 0.5em;
//        display: block;
//        text-align: center;
        &:hover {
            background: transparent;
            color: colour(highlighter);
            
        }
    }
    .ad-confirm-mark-complete {
        margin: 0 auto;
        #learndash_mark_complete_button {
            background: transparent;
            border: 0px;
        }
    }
    .mark-complete-note {
        text-align: center;
        margin-top: 1.5em;
        font-size: 14px;
        font-weight: 500;
        color: colour(darklight);
    }
    #colophon {
        margin-top: 0;
        display: none;
    }
}


