#learndash_lessons a, #learndash_quizzes a, .expand_collapse a, .learndash_topic_dots a, .learndash_topic_dots a > span, #learndash_lesson_topics_list span a, #learndash_profile a, #learndash_profile a span {
    color: inherit;
    text-decoration: none;
    font-weight: inherit;
    font-size: 16px;
    font-family: inherit;
    @extend a;
}

#learndash_lessons, #learndash_quizzes, .expand_collapse, .notavailable_message, #learndash_lesson_topics_list div > strong, #learndash_lesson_topics_list div ul > li .sn, .learndash_profile_heading, #learndash_profile a, #learndash_profile div, #learndash_lesson_topics_list div ul>li .sn, #learndash_lesson_topics_list div>strong, #learndash_profile a, #learndash_profile div, .expand_collapse, .learndash_profile_heading, .notavailable_message {
    font-size: 16px;
    font-weight: 300;
}

#ld-profile-page .woocommerce-button {
    &:visited {
        color: #fff;
    }
}
#ld-profile-page {
    p {
        max-width: $line-l;
        margin: 0 auto 1em auto;
    }
    .entry-header {
        text-align: center;
        margin-bottom: 5em;
    }
    #learndash_profile {
        border: 0px;
        border-radius: 0px;
    }
    .learndash_profile_heading {
        background: colour(bg);
        text-align: center;
//        font-family: halant, sans-serif;
//        
    }
    .profile_info {
//        max-width: $line-l;
    }
    .learndash_profile_details {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .learndash-course-list-heading {
        margin-top: 4em;
    }
    .profile_info, .course-list, .woocommerce {
        background: colour(bg);
    }
    .profile_info {
        display: flex;
        justify-content: center;
    }
    #course-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        background: colour(bg);
//        max-width: $line-l;
        .registered-courses {
            max-width: $line-l;
            display: flex;
            padding: 1em;
            width: 100%;
            .ad-learndash-course-link {
                width: 60%;
                a {
                    
                }
            }
            .ad-learndash-course-progress {
                width: 40%;
                text-align: right;
            }
            
        }
    }
    #learndash_profile #course_list .right {
        width: 100%;
        padding: 0;
        text-align: center;
        line-height: $line-h; 
    }
    .ad-woocommerce {
        margin-top: 4em;
    }
    .woocommerce-EditAccountForm {
        input {
            background: #fff;
        }
        fieldset {
            margin: 1em 0;
        }
//        .woocommerce-Button {
//            border: 1px solid colour(secondary);
//            background-color: colour(secondary);
//            border-radius: 50px;
//            color: #fff;
//            padding: 0.5em 1.7em;
//            font-family: halant, serif;
//            font-weight: 300;
//            transition: all 0.5s ease;
//    //        display: block;
//    //        text-align: center;
//            &:hover {
//                background: transparent;
//                color: colour(secondary);
//
//            }
//        }
    }
    .woocommerce {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 1em;
        
        .woocommerce-MyAccount-navigation {
            margin-bottom: 2em;
            display: flex;
            justify-content: center;
            ul li a {
                font-weight: 500;
            }
            .woocommerce-MyAccount-navigation-link--dashboard  {
                display: none;
            }
        }
        .woocommerce-MyAccount-content {
            max-width: $line-l;
        }
        .woocommerce-Address-title h3 {
            float: none !important;
            margin-bottom: 0.5em !important;
        }
        .woocommerce-Address .title .edit {
            float: none !important;
            display: inline-block !important;
            margin-bottom: 2em !important;
        }
        .woocommerce-Address address {
            font-weight: 300 !important;
        }
        a {
            &:visited {
                color: colour(detail);
            }
        }
    }
    
}