.single-sfwd-courses {
    .site-header {
        margin-bottom: 0;
    }
    .courses-header {

        .site-branding {
            padding: 1em;
        }
        margin-bottom: 0;
        .course-title-wrapper h5 {
            margin-bottom: 0em;
            font-family: 'museo-sans', sans-serif;
            text-transform: uppercase;
        }
        h1 {
            margin-bottom: 0;
            font-size: 26px;
        }
    
    }
    .entry-content {
//        margin-top: 0;
        margin-bottom: 10em;
        @include respond-to(creek) {
            margin-bottom: 4em;
        }
    }
    .site-main {
        border: colour(primary) 7px solid;
        border-top: 0;
        border-image: url(imgs/border-gradient4.png) 1 stretch;
        padding-top: 6em;
    }
    #colophon {
        display: none;
    }  
}

#ad_learndash_course_certificate {
    background-image: url(imgs/congrats_certificate_dupe.png);
    background-repeat: no-repeat;
    width: 300px;
    height: 125px;
    @include respond-to(creek) {
        width: 500px;
        height: 200px;
        padding: 1em;
    }
 
    background-size: cover;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    p {
        margin-bottom: 0;
    }
    .button-wrapper {
        margin: 1em 0;
        margin-bottom: 0;
        @include respond-to(creek) {
            margin: 2em 0;
            margin-bottom: 0;
        }
    }
}

.in-course {
    #masthead, article.sfwd-courses {
        margin-bottom: 0;
    }
    article.sfwd-courses, .welcome-video, .entry-content {
        margin-top: 0;
    }

    
}



.sfwd-courses {
    max-width: 1200px;
    margin: 1em auto;
    .entry-content {
    }
}

.welcome-video {
    margin-bottom: 5em;
}

.ad-course-materials {
    display: flex;
    justify-content: center;
    margin-bottom: 5em;
    flex-wrap: wrap;
    div {
        margin: 0 1em 2em 1em;
    }
}

.ad-course-description {
    text-align: center;
    font-weight: bold;
    max-width: $line-l;
    margin: 2em auto;
    padding: 0 1em;
}

.ad-course-section {
    margin-bottom: 3em;
    padding: 0 1em;
    @include respond-to(river) {
        padding: 0;
    }
    header {
        display: flex;
        flex-direction: column;
        @include respond-to(river) {
            flex-direction: row;
        }
        .title-wrapper {
            background: colour(secondary);
            
            @include respond-to(river) {
                width: 33%;
                clip-path: polygon(0 0, 80% 0%, 100% 100%, 0% 100%);
            }
            div {
                padding: 15px;
                h2 {
                    color: #fff;
                    margin-bottom: 0;

                    text-align: center;
                    @include respond-to(river) {
                        display: flex;
                        align-items: center;
                        text-align: left;
                    }
                }
            }
            
            
        }
        .section-description-wrapper {
            text-align: center;
            @include respond-to(river) {
                text-align: left;
                clip-path: polygon(0 0, 100% 0%, 100% 100%, 7% 100%);
                margin-left: -3.6em;
                display: flex;
                align-items: center;
            }
            background: colour(bg);
            width: 100%;

            padding: 15px;
            p {
                @include respond-to(river) {
                    margin-left: 6em;
                }
                margin-bottom: 0;
                
            }
        }
        
        

//        p {

//        }
    }
}
.ad-lesson {
    display: grid;
    align-items: center;
    grid-template-columns: 10% auto 35%;
    padding: 2em 0.5em;
    @include respond-to(river) {
        padding: 2em;
    }
    color: colour(detail);
    border-bottom: 1px solid colour(bg);
    transition: all 0.5s ease;
    .ad-lesson-title {
        border-bottom: 0;
        color: colour(detail);
        &:hover {
            border-bottom: 0;
        }
    }
    .ad-lesson-icon {
        
//        direction: rtl;
    }
    .letter-icon {
        font-family: lateef, serif;
        font-weight: bold;
        font-size: 18px;
    }
    .ad-lesson-icon, .ad-lesson-title {
        transition: all 0.5s ease;
    }
    .ad-lesson-status {
        text-align: right;
        text-transform: uppercase;
        display: flex;
        justify-content: flex-end;
        span.mark-complete-message {
            font-weight: bold;
            color: colour(highlighter);
            padding: 0.5em;
        }
        a {
            color: colour(detail);
            font-weight: bold;
            border: 0;
            &:hover {
                border: 0;
                color: colour(highlighter);
            }
        }
        .locked-lesson {
            color: colour(darklight);
        }
        .fa-check {
            margin-left: 0.5em;
        }
        #learndash_mark_complete_button {
            -webkit-appearance: none;
            border: 0;
            text-transform: uppercase;
            font-weight: bold;
            cursor: pointer;
            background: transparent;
            white-space: normal;
//            color: colour(highlighter);
            padding: 0;
            font-family: 'museo-sans', sans-serif;
            border-radius: 0px;
        }
        transition: all 0.5s ease;
        &:hover {
            color: colour(highlighter);
        }
    }
    &:hover {
        .ad-lesson-icon, .ad-lesson-title {
            color: colour(primary);
        }
    }
}
.ad-lesson-no-access {
    &:hover {
        .ad-lesson-icon, .ad-lesson-title {
            color: colour(detail)
        }
    }
}
.not-available {
    color: colour(darklight);
    .ad-lesson-title, .ad-lesson-icon, .ad-lesson-status span, .fa-check {
        color: colour(darklight);
    }
}

.ad-main-quiz {
    border-bottom: 0px;
    background: colour(bg);
}

.final-quiz {
    padding: 0 1em;
    @include respond-to(river) {
        padding: 0;
    }
}

.course-footer {
    background: colour(primary);
    padding: 0.5em 1em;
    .content-wrapper {
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        @include respond-to(creek) {
    //        padding: 0 14%;
            flex-direction: row;
        }
        align-items: center;
        color: #fff;
    }
    .course-curious {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        align-items: center;
        @include respond-to(creek) {
            flex-direction: row;
        }
        h3 {
            margin-bottom: 0.5em;
            @include respond-to(creek) {
                margin-bottom: 0;
//                text-align: right;
            }
        }
        .course-cta {
            margin-bottom: 0;
            @include respond-to(creek) {
                margin-left: 0.5em;
            }
        }
    }
//    .course-cta {
//        flex-grow: 1;
//        p {
//            margin-bottom: 0;
//            @include respond-to(creek) {
//                margin-left: 1em;
//            }
//        }
//    }
    .course-start-button {
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
        @include respond-to(creek) {
            flex-direction: row;
            text-align: left;
        }
        .bundle-text {
            width: 200px;
            display: inline-block;
            margin-top: 1em;
            @include respond-to(creek) {
                margin-left: 0.5em;
                margin-top: 0;
            }
            &:hover {
                border-bottom: 1px solid transparent;
            }

        }
    }
    position: fixed;
    width: 100%;
    bottom: 0;
}
.mark-complete-message {
    cursor: pointer;
}
.ad-confirm-mark-complete-wrapper {
    display: none;
}
.ad-confirm-mark-complete {
    display: flex;
    background: colour(highlighter);
    color: #fff;
    justify-content: space-between;
    align-items: center;
    @include respond-to(creek) {
        justify-content: space-around;
    }
    
    padding: 0.5em;
    width: 150px;
    @include respond-to(creek) {
        width: 200px;
    }
    span.label {
        text-align: left;
        @include respond-to(creek) {
            text-align: inherit;
        }
    }
    span.label, span.no-complete, #sfwd-mark-complete {
        color: #fff;
        padding: 0.2em;
        font-weight: normal;
    }
    span.no-complete {
        text-transform: capitalize;
        cursor: pointer;
//        padding: 0.2em;
        &:hover {
            background: #fff;
            color: colour(highlighter);
            border-radius: 100px;
//            padding: 0.2em;
        }
    }
    span.label {
        text-transform: none;
        font-weight: bold;
    }
    #sfwd-mark-complete {
        &:hover {
            background: #fff;
            #learndash_mark_complete_button {
                color: colour(highlighter);
            }
            
            border-radius: 100px;
        }
    }
    #learndash_mark_complete_button {
        padding: 0.2em;
        &:hover {
//            background: #fff;
//            color: colour(highlighter);
//            border-radius: 50px;
            
        }
    }
}