.woocommerce table.shop_table {
    border-radius: 0px;
    border: 0px;
    background: #fff;
}

.woocommerce table.shop_table td {
    font-weight: 300;
    padding-top: 0.5em;
    border: 0px;
}
.woocommerce table.shop_table th {
    padding-top: 0.5em;
}

.woocommerce table.shop_table tbody th, .woocommerce table.shop_table tfoot td, .woocommerce table.shop_table tfoot th {
    border: 0px;
}

//.woocommerce table.shop_table tfoot th, .woocommerce table.shop_table tfoot td {
//    &:first-of-type {
//        padding-top: 4em;
//    }
//    
//}
.woocommerce-table__line-item.order_item {
    &:last-child {
        td {
            padding-bottom: 4em;
        }
    }
}

tfoot .woocommerce-Price-amount.amount {
    font-weight: normal;
    &:last-child {
        font-weight: bold;
    }
    
}



.woocommerce-message {
    border-top-color: colour(primary);
    background: colour(bg);
    &:before {
        color: colour(primary);
    }
    .wc-forward {
        display: none !important;
    }
}

#ad-header-meta-menu {
    li {
        &:before {
            content: '';
        }
    }
    .cart {
        span {
//            margin-left: 0.2em;
            font-family: halant, sans-serif;
        }
    }
}