#page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.site-content {
    flex: 1;
}

.builder {
    max-width: 1000px;
    margin: 4em auto 0 auto;
//    padding: 2em;
    @include respond-to(sea) {
        padding: 0;
    }
}

.page-builder-header {
    text-align: center;
    padding: 2em 1em 1em 1em;
}

.entry-footer {
    padding: 2em;
}

.password-protected-page {
    max-width: $line-l;
    margin: 0 auto;
    padding: 1em;
}