.builder.blog-posts {
    h2 { 
        text-align: center;
    }
}

.builder.blog-posts .component-wrapper {
    max-width: 1500px;
    .blog-post-link {
        border-bottom: 0;
//        &:nth-child(even) h5 {
//            color: colour(highlighter);
//        }
//        &:nth-child(odd) h5 {
//            color: colour(primary);
//        }
    }
    article {
    display: flex;
    margin: 1em 0 2em 0;
    position: relative;
    z-index: 700;
    height: 200px;
    transition: all 0.5s ease;
        header {
            order: 2;
            background: colour(bg);
//            margin-left: -3.5em;
            @include respond-to(thegap) {
//                margin-left: -4.5em;
            }
            text-align: center;
            padding: 0em 2em;
//            clip-path: polygon(0 0, 100% 0%, 100% 100%, 26% 100%);

            background: colour(bg);
            width: 100%;
            height: 100%;
            display: flex;
//            justify-content: center;
            align-items: center;
            .content-wrapper {
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                text-align: center;
                p {
                    margin-bottom: 0.7em;
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
            h4 {
                color: colour(detail);
            }
            h5 {
//                text-transform: uppercase;
                font-family: 'museo-sans', sans-serif;
                margin-bottom: 0;
            }
        }
        .image-wrapper {
            width: 100%;
            background: colour(bg);
            .image {
                text-align: left;
                clip-path: polygon(0 0, 70% 0, 100% 100%, 0% 100%);
                transition: all 0.5s ease;
                background: colour(primary);
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;

                img {
                    display: block;
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                }
            }
        }
    }
    .no-featured-image {
        article {
            header, .image-wrapper .image {
                clip-path: none;
                margin: 0;
                text-align: center;
            }
            .content-wrapper {
                text-align: center;
            }
        }
    }
    @include respond-to(river) {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        a {
            display: flex;
            flex-direction: column;
        }
        article {
            flex-direction: column;
            height: 100%;
            width: 300px;
//            height: 200px;
            margin: 1em;
            header, .image-wrapper .image, .content-wrapper {
                clip-path: none;
                margin: 0;
            }
            header {
                padding: 1em;
                .content-wrapper {
                    text-align: center;
                    padding: 1em;
                }
            }
            .image-wrapper {
                height: 55%;
            }
            header {
                height: 45%;
            }
        }
        .no-featured-image {
            header {
                height: 100%;
            }
        }
    }

}