.button-wrapper {
    margin: 2em 0;
    .button, .button-61516b {
        border: 1px solid colour(secondary);
        background-color: colour(secondary);
        border-radius: 50px;
        color: #fff;
        padding: 0.5em 1.7em;
        font-family: halant, serif;
        font-weight: 300;
        transition: all 0.5s ease;
//        display: block;
//        text-align: center;
        &:hover {
            background: transparent;
            color: colour(secondary);
            
        }
    }
    .button-orange, .button-ff9676 {
        border: 1px solid colour(highlighter);
        background-color: colour(highlighter);
        &:hover {
            color: colour(highlighter);
            border: 1px solid colour(highlighter);
        }
    }
    .button-blue-white, .button-41d5c2 {
        border: 1px solid colour(primary);
        background-color: colour(primary);
        &:hover {
            background-color: #fff;
            color: colour(primary);
            border: 1px solid colour(primary);
        }
        
    }
    .button-grey, .button-b5c2ca {
        border: 1px solid colour(darklight);
        background-color: colour(darklight);
        &:hover {
            background-color: #fff;
            color: colour(darklight);
            border: 1px solid colour(darklight);
        } 
    }
    .button-detail, .button-3f3f3f {
        border: 1px solid colour(detail);
        background-color: colour(detail);
        &:hover {
            background-color: #fff;
            color: colour(detail);
            border: 1px solid colour(detail);
        }  
    }
    .button-ghost {
        border: 1px solid #fff;
        background-color: transparent;
        &:hover {
            background-color: #fff;
            color: colour(secondary);
        }
    }
    .white-border {
        border: 1px solid #fff;
    }
}