.column-content-wrapper {
    max-width: 100%;
}
.column-content {
    display: flex;
    flex-direction: column;
    @include respond-to(lake) {
        flex-direction: row;
        max-height: 400px;
        &:nth-of-type(2n) {
            figure, .video {
                order: 2;
            }
        }
    }
    max-width: 100%;
    
    margin: 0;
    &:first-of-type(1n) {
        margin-top: 2em;
    }
    &:last-of-type {
        margin-bottom: 2em;
    }

    .video iframe {
        min-height: 200px;
        height: 100%;
        @include respond-to(brook) {
            min-height: 300px;
            width: 100%;
        }
        
    }
    figure, .video {
        @include respond-to(lake) {
            width: 50%;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .content-wrapper {
        padding: 2em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        @include respond-to(lake) {
            width: 50%;
        }
        .ad-optin {
            padding: 1em 5em 0em 5em;
            .womc-fields {
                margin-bottom: 0;
            }
            input[type="email"] {
                width: 75%;
                @include respond-to(pond) {
                    width: 50%;
                }
            }
        }
    }
    .button-wrapper {
        
    }
}