#comments {
    padding: 3em 1em;
    background: colour(bg);
    .comments-title {
        text-align: center;
        color: colour(secondary);
        margin-bottom: 1em;
    }
    #reply-title, .logged-in-as, .comment-form-comment label {
        display: none;
    }
    #respond, .comment-list {
        max-width: $line-l;
        margin: 0 auto;
    }
    #respond {
        margin-bottom: 4em;
        textarea#comment {
            border-radius: 30px;
            border-color: transparent;
            padding: 2em !important;
            background: #fff;
        }
        .form-submit {
            text-align: center;
            input[type="submit"]{
                -webkit-appearance: none;
                border-radius: 50px;
                background-color: colour(secondary);
                color: #fff;
                border-color: colour(secondary);
                padding: 0.5em 3em;
                font-family: halant, serif;
                font-size: 20px;

            }
        }
    }
    .comment-list {
        list-style: none;
        .comment-meta {
            color: colour(secondary);
            .comment-author {
                margin-right: 0.5em;
            }
        }
        a {
            color: colour(secondary);
            &:hover {
                border-color: colour(secondary);
            }
        }
        .reply {
            text-transform: uppercase;
            a {
                font-weight: 400;
            }
        }
        .depth-3 {
            margin-left: 2em;
        }
        li.comment {
            border-radius: 50px;
//                border: 2px solid #fff;
            margin-bottom: 2em;
            article {
                padding: 1em 2em;
                border-radius: 40px;
                background: colour(light);
                display: flex;
                flex-direction: column;
                .comment-meta {
                    order: 2;
                    display: flex;
                    justify-content: space-between;
                    .comment-author {
                        .comment-permalink {
                            font-weight: bold;
                        }
                        .comment-author-name  {
                            text-transform: capitalize;
                        }
                    }
                    .user-karma {
                        display: none;
                    }
                }
            }
            .comment-form-comment {
                padding: 1em;
            }
            #respond textarea#comment {
                border-color: colour(darklight);
                &:focus {
                    border-color: colour(darklight);
                }
            }
        }
        li.comment {
            .children {
                background: #fff;
                list-style: none;
                margin: 0;
                margin-top: 0.2em;
                border: 2px solid #fff;
                border-bottom-left-radius: 40px;
                border-bottom-right-radius: 40px;
                .comment-meta {
                    color: colour(darklight);
                    .comment-author {
                        margin-right: 0.5em;
                    }
                }
                a {
                    color: colour(darklight);
                }
                .comment {
                    border: 0;
                    margin-bottom: 1em;
                }
                .comment article {
                    background: #fff;
                    margin-bottom: 0em;
                    border: 0;
                    border-radius: 50px;
                    padding-bottom: 0;
                }
            }
        }
        li.parent {
            article {
                margin-bottom: 0;
                border-radius: 0;
                border-top-left-radius: 40px;
                border-top-right-radius: 40px;
            }
        }
    }

}