.course-list {
    .title {
        text-align: center;
    }
    a {
        color: inherit;
        border-bottom: 0;
        &:visited {
            color: inherit;
        }
    }
}
.course-list-course {
    margin: 1em 0 2em 0;
    position: relative;
    z-index: 700;
    display: flex;
    flex-direction: column;
//    height: 300px;
    transition: all 0.5s ease;
    padding: 0 2em;
    @include respond-to(brook) {
        margin: 1em 3em;
    }
    @include respond-to(creek) {
        margin: 1em 5em;
    }
    @include respond-to(river) {
        flex-direction: row;
        height: 175px;
        margin: 1em 0 2em 0;
    }
    @include respond-to(gulf) {
        padding: 0em;
    }
    &:hover {
        header {
            filter: drop-shadow(8px 11px 8px rgba(183, 194, 201, 1));
        }
        header .content-wrapper {
            background: colour(bg);
            color: colour(detail);
        }
        .course-list-description {
            filter: drop-shadow(5px 10px 8px rgba(183, 194, 201, 1));
            
        }
    }
    header {
        color: #fff;
        
        @include respond-to(river) {
            width: 60%;
        }
        @include respond-to(lake) {
            width: 60%;
        }
        display: flex;
        transition: all 0.5s ease;
        .content-wrapper {
            text-align: center;
            clip-path: polygon(0 0, 100% 0, 100% 89%, 0% 100%);
            transition: all 0.5s ease;
            background: colour(primary);
            width: 100%;
            padding: 2em 2em 2em 2em;
            display: flex;
            flex-direction: column;
            @include respond-to(river) {
                text-align: left;
                clip-path: polygon(0 0, 70% 0, 100% 100%, 0% 100%);
                padding: 1.3em 0;
                padding-left: 1.2em;
            }
            span, h2, p {
                @include respond-to(river) {
                    width: 75%;
                }
            }
            span {
                text-transform: uppercase;
                font-family: 'MuseoSans', sans-serif;
                font-size: 15px;
            }
            h2 {
                font-family: halant, serif;
                font-size: 26px;
                font-weight: 500;
                flex-grow: 2;
                @include respond-to(river) {

                margin-bottom: 0.7em
                }
            }
            p:last-child {
                margin-bottom: 0;
            }
        }
    }
    .course-list-description {
        margin-top: -12px;
        transition: all 0.5s ease;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        @include respond-to(river) {
            margin-top: 0px;
//            margin-left: -110px;
//            margin-left: -7em;
            margin-left: -11.8%;
        }
        @include respond-to(lake) {
//            margin-left: -6.5em;
//            margin-left: -110px;
        }
        @include respond-to(gulf) {
//            margin-left: -7.5em;
//            margin-left: -117px;
            
        }
        
        z-index: -100;
        .content-clip {
            text-align: center;
            padding: 2em;
            clip-path: polygon(0 12%, 100% 0, 100% 100%, 0% 100%);
            @include respond-to(river) {
                text-align: left;
                clip-path: polygon(0 0, 100% 0%, 100% 100%, 18% 100%);
                padding: 1em 1.5em 1em 1em;
            }
            background: colour(bg);
            width: 100%;
            height: 100%;
            display: flex;
//            justify-content: center;
            align-items: center;
            .content-wrapper {
                width: 100%;
                p {
                    margin-bottom: 0.7em;
                    font-weight: 300;
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
                @include respond-to(river) {
                    margin-left: 20%;
                }
            }
        }
    }
}
