.cta {
    max-width: 100%;
    background: colour(bg);
//    display: flex;
//    flex-direction: column;
    padding: 3em 1em;
    .heading {
        text-align: center;
    }
    .cta-text {
        font-size: 19px;
        margin-bottom: 2em;
        text-align: center;
        max-width: $line-l;
        margin: 0 auto 2em auto;
    }
    .button-wrapper {
        margin: 2em 0 1em 0;
        text-align: center;
        font-size: 19px;
    }
    .note {
//        color: colour(darklight);
        text-align: center;
        font-size: 16px;
        margin-top: 1em;
    }
}

.cta.transparent {
    background-color: transparent;
    color: colour(detail);
}

.cta.orange {
    background: colour(highlighter);
    color: #fff;
    .ghost-button {
        background: transparent;
        border-color: #fff;
        &:hover {
            color: colour(highlighter);
            background: #fff;
        }
    }
}

.cta.blue {
    background: colour(primary);
    color: #fff;
    .ghost-button {
        background: transparent;
        border-color: #fff;
        &:hover {
            color: colour(primary);
            background: #fff;
        }
    }
}