.faq {
    padding: 0 2em;
    @include respond-to(river) {
        padding: 0;
    }
//    margin: 3em auto;
    article {
        max-width: $line-l;
        margin: 0 auto 3em auto;
    }
    dt {
        font-family: halant, serif;
        font-size: 22px;
        font-weight: 500;
        cursor: pointer;
    }
    dd {
        margin-top: 0.3em;
    }
}