#colophon {
    background-color: colour(bg);
    display: flex;
    flex-direction: column;
    margin-top: 4em;
    @include respond-to(lake){
        flex-direction: row;
//        flex-wrap: wrap;
        justify-content: space-between;
    }
    .site-title a {
        color: colour(detail);
        border: 0px;
        svg {
            width: auto;
            margin: 0 auto;
            @include respond-to(lake){
                margin: 0;
            }
        }
        &:hover {
            color: colour(detail);
        }
    }
    padding: 0.5em 1em 0.5em 1em;
    align-items: center;
//    padding: 2em 2em 1em 2em;
//    display: grid;
//    grid-template-columns: 1fr 1fr;
//    grid-template-rows: 1fr 1fr;
//    align-items: center;
    .site-footer-hero {
        margin-top: 1em;
        @include respond-to(lake){
//            margin: 0;
//            width: 30%;
        }
        p.site-title {
            margin: 0 auto;
            @include respond-to(lake){
                margin: 0;
            }
        }
        
    }
    .site-footer-meta {
        
    }
    .footer-social {
        display: flex;
        margin: 1em 0;
        justify-content: center;
        @include respond-to(lake){
//            margin: 0;
            width: 30%;
            order: 1;
        }
//        align-self: start;
        a {
            vertical-align: middle;
            font-size: 18px;
            margin-right: 1em;
            &:last-child {
                margin-right: 0;
            }
        }
    }
    .credits {
        margin-bottom: 1em;
        order: 4;
        text-align: center;
//        align-self: start;
        @include respond-to(lake){
            order: 1;
            margin: 0;
//            width: 70%;
            text-align: right;
        }
        .fa-heart {
            color: colour(highlighter);
        }
    }

    .footer-navigation {
        margin: 1em 0;
        order: 3;
        font-family: halant, serif;
        font-weight: 500;
        font-size: 18px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        @include respond-to(lake){
            order: 1;
            flex-direction: row;
//            width: 70%;
            justify-content: flex-end;
//            margin: 0;
            align-items: flex-start;
        }
        a {
            margin-left: 0.5em;
            @include respond-to(lake){
                margin-left: 1.5em;
            }
        }
    }
}