.full-width-image, .full-width-video {
    padding: 0;
    max-width: 100%;
    img {
        width: 100%;
        max-height: 500px;
        object-fit: cover;
    }
    iframe {
//        width: $line-l;
//        height: 100%;
        @include respond-to(pond) {
//            height: $line-l/1.77;
        }
    }
    
}

.full-width-video {
    text-align: center;
    position: relative; 
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    height: auto;
    margin: 1em 0 1em 0;
    @include respond-to(pond) {
        margin: 2em 0 2em 0;
    }
    @include respond-to(gulf) {
        position: inherit;
        padding-bottom: 0;
        height: auto;
//        margin: 1em auto;
    }
    iframe, object, embed {
        position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
        @include respond-to(gulf) {
            position: inherit;
            width: 100%;
            height: $maxwidth/1.77;
        }
    }

}