
.fullscreen-form {
    background: #fff;
    height: 100vh;
    width: 100%;
    background: colour(bg);
    border: 10px solid colour(primary);
    padding: 1em;
    @include respond-to(pond) {
        padding: 5em;
    }
    display: flex;
    justify-content: center;
    align-items: center;
    .mfp-close {
        color: colour(primary);
        opacity: 1;
        font-size: 35px;
        font-weight: bold;
        width: 70px;
        height: 70px;
    }
    .suggestion-engine_wrapper {
        width: 75%;
        .gform_heading {
            display: none;
        }
        .gform_page_fields {
            font-size: 22px;
            textarea {
                background: #fff;
            }
            .gfield_radio, .gfield_checkbox {
                display: flex;
                flex-wrap: wrap;
                li {
                    margin: 0.5em;
                    @include respond-to(pond) {
                        margin: 0 0.5em;
                    }
                    
                    input {
                        display: none;
                    }
                    label {
                        margin: 0;
                        border: 1px solid colour(primary);
                        background-color: transparent;
                        border-radius: 50px;
                        color: colour(primary);
                        padding: 0.5em 1.7em;
                        font-family: halant, serif;
                        font-weight: 300;
                        transition: all 0.5s ease;
                        width: 100%;
                        max-width: 100%;
                        &:hover {
                            color: #fff;
                            border: 1px solid colour(primary);
                            background: colour(primary);
                        }
                    }
                    input[type=radio]:checked + label, input[type=checkbox]:checked + label {
                            color: #fff;
                            border: 1px solid colour(primary);
                            background: colour(primary);
                    }
                }
            }
            .gfield_html {
//                font-size: 16px;
                a {
//                    border-bottom: 1px solid colour(highlighter);
                }
            }
        }
        .gform_page_footer {
            border-top: 0px;
            .button {
                -webkit-appearance: none;
                outline: 0;
                border: 1px solid colour(highlighter);
                background-color: colour(highlighter);
                border-radius: 50px;
                color: #fff;
                padding: 0.5em 1.7em;
                font-family: halant, serif;
                font-weight: 300;
                transition: all 0.5s ease;
                width: auto;
                &:hover {
                    color: colour(highlighter);
                    border: 1px solid colour(highlighter);
                    background: transparent;
                }
            }
        }
    }
}

.open-form-button-wrapper {
    text-align: center;
}

.open-fullscreen-form {
    border: 1px solid colour(highlighter);
    background-color: colour(highlighter);
    border-radius: 50px;
    color: #fff;
    padding: 0.5em 1.7em;
    font-family: halant, serif;
    font-weight: 300;
    transition: all 0.5s ease;
    &:visited {
        color: #fff;
        border: 1px solid colour(highlighter);
    }
    &:hover {
        color: colour(highlighter);
        border: 1px solid colour(highlighter);
        background: transparent;
    }
}