.site-header {
    background-color: colour(primary);
//    padding: 1em;
    color: #fff;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2em;
    a {
        color: #fff;
        border-bottom: 0px;
    }
    .site-branding {
        padding: 0.5em 1em;
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
}
.header-primary-section, nav {
    display: flex;
    align-items: center;
    ul {
        margin: 0;
        li {
            margin: 0;
        }
    }
}
p.site-title {
    margin-bottom: 0;
//    width: 80%;
    a {
        display: flex;
        margin-top: 0.2em;
    }
    svg {
        height: 75px;
//        width: 35%;
    }
}
h1.site-title {
    margin-bottom: 0;
    font-size: 16px;
    width: 80%;
    a {
        display: flex;
        margin-top: 0.2em;
    }
    svg {
        height: 75px;
//        width: 40%;
    }
}
.header-menu {
    display: none;
    a {
        &:hover {
            color: #fff;
        }
    }
    @include respond-to(pond) {
        display: flex;
        width: 100%;
        font-family: halant, serif;
        font-size: 18px;   
    }
    ul {
        display: flex;
    }
    .search-form {
        display: none;
        @include respond-to(searchbar) {
            display: flex;
        }
        margin-left: 1em;
        label {
            background: transparent;
            input[type=search] {
                background: transparent;
                margin: 0;
                width: 100px;
                color: #fff;
                font-weight: normal;
                font-style: normal;
                padding-left: 0em !important;
                transition: 0.5s ease all;
                font-weight: 300;
                &:focus {
                    &::placeholder {
                        opacity: 0.7;
                        font-family: halant, serif;
                        font-size: 18px;
                        font-weight: 300;
                    }
                }
                &::placeholder {
                    font-style: normal;
                    color: #fff;
                    vertical-align: middle;
                    font-family: halant, serif;
                    font-size: 18px;
                    font-weight: 300;
                    
//                    text-align: center;
                }
            }
            &:after {
                display: none;
            }
            &:before {
                content: '\f002';
                font-family: 'Font Awesome 5 Solid';
                color: #fff;
                padding: 0.5em;
                padding-right: 0;
                font-size: 16px;
            }
        }
    }

}
.header-meta-menu {
    display: none;
    a {
        &:hover {
            color: #fff;
        }
    }
    @include respond-to(creek) {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        align-items: center;
        font-family: halant, serif;
        font-size: 18px;
        ul {
            display: flex;
        }
    }
}
.site-description {
    display: none;
}

.no-bottom-margin {
    margin-bottom: 0;
}

.course-title-wrapper {
    h1 {
        font-size: 26px;
    }
}
.course-header-wrapper {
    display: flex;
    align-items: center;
    .ad-mark {
//        margin-right: 1em;
        width: 50px;
        svg {
            height: 55px;
        }
    }
}