.long-form {
    max-width: 100%;
    h2 {
        font-family: halant, serif;
        text-align: center;
    }
    .content-wrapper {
        max-width: 1000px;
        margin-right: auto;
        margin-left: auto;
        @include respond-to(river){
            column-count: 2;
        }
    }
    padding: 2em;
    background: colour(secondary);
    color: #fff;
}