.ad-optin{
    h2 {
        text-align: center;
    }
    padding: 2em;
    @include respond-to(pond) {
        padding: 3em 5em;
    }
    .womc-fields {
        display: flex;
        margin-bottom: 1em;
        justify-content: center;
    }
    .hide {
        display: none;
    }
    input {
        -webkit-appearance: none;
        border: 2px solid colour(primary);
        border-radius: 0;
        background: transparent;
        padding: 0.5em;
        transition: 0.5s ease all;
        @include respond-to(pond) {
            padding: 0.8em 1em;
        }
        &:focus {
            box-shadow: 0 0 0;
            border: 2px solid colour(primary);
            background: colour(bg);
        }
        &[type="email"] {
            width: 100%;
            font-style: italic;
            color: colour(detail);
            border-bottom-left-radius: 100px;
            border-top-left-radius: 100px;
            border-right: 1px;
            @include respond-to(pond) {
                width: 33%;
            }
            &::placeholder {
                color: colour(darklight);
                font-family: 'museo-sans', sans-serif;
                font-weight: 100;
            }
        }
        &[type="submit"] {
            background: colour(primary);
            color: #fff;
            font-family: halant, serif;
//            font-style: italic;
//            font-weight: bold;
            text-transform: lowercase;
            border-bottom-right-radius: 100px;
            border-top-right-radius: 100px;
            text-transform: capitalize;
            &:hover {
                background: transparent;
                color: colour(primary);
            }
            &:focus {
                box-shadow: 0 0 0;
                color: colour(primary);
                border: 2px solid colour(primary);
                background: transparent;
            }
        }
        &[type="hidden"] {
            display: none;
        }
    }
}