.multimedia {
    padding: 0 2em;
    margin: 4em auto 0 auto;
    @include respond-to(sea) {
        padding: 0;
    }
    .hidden-reveal {
        display: none;
//        opacity: 0;
        color: colour(darklight);
        padding: 0 1em;
        cursor: pointer;
        	
//border: 0px solid transparent;
    }
}
.total-wrapper {
    padding: 0;
    border-top: 1px solid transparent;
    margin: 0 auto;
    background-color: colour(bg);
    display: flex;
    flex-direction: column;
//    height: 300px;
    	
//border: 0px solid transparent;
    @include respond-to(river) {
        flex-direction: row;
        max-height: 300px;
    }
    
    overflow: hidden;
    .content-wrapper {
//        min-height: 150px;
        @include respond-to(river) {
            width: 50%;
        }
        span {
            padding: 1em 0 0 1em;
            display: inline-block;
            position: absolute;
            z-index: 10;
            transition: all 0.5s ease;
            cursor: pointer;
            &:hover {
                color: colour(darklight);
            }
        }
        .content {
            padding: 2em;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            h2 {
                font-family: halant, serif;
                font-weight: 500;
                font-size: 22px;
                margin-bottom: 0.5em;
            }
            p {
                &:last-child {
                    margin-bottom: 0em;
                }
            }
        }
    }
    .media {
        text-align: center;
        position: relative; 
        padding-bottom: 56.25%;
        height: 0;
        overflow: hidden;
        max-width: 100%;
        height: auto;
        @include respond-to(river) {
            position: inherit;
            padding-bottom: 0;
            height: auto;
        }
        iframe, object, embed {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            @include respond-to(river) {
                position: inherit;
			display: block;
                width: 100%;
                height: 300px;
            }
        }
        @include respond-to(river) {
            width: 50%;
        }
        &.image {
            padding-bottom: 0;
        }
    }
}
