nav {
    a {
        color: colour(detail);
        &:hover {
            color: colour(highlighter);
            border-bottom: 1px solid transparent;
        }
    }
}
.main-navigation {
    height: 100%; /* 100% Full-height */
    width: 100%;
    position: fixed; /* Stay in place */
    z-index: 1000; /* Stay on top */
    top: 0;
    right: -100%;
    background-color: colour(bg); 
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    border: 4px solid colour(primary);
    padding: 2em 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .menu {
        list-style: none;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2em;
        font-family: halant, serif;
        font-weight: 500;
        font-size: 20px;
        line-height: $line-h;
        li {
            margin: 0.5em 0;
            &:before {
                content: none;
            }
        }
    }
    .sub-menu {
        display: none;
        list-style: none;
        margin: 0;
        text-align: center;
        line-height: $line-h;
        a {
            color: colour(darklight);
        }
    }
    .menu-item-has-children > a {
        &:after {
            margin-left: 5px;
            content: "\f0d7";
            font-family: "Font Awesome 5 Solid";
            color: colour(highlighter);
        }
    }


}

.menu-login-area-container {
    #primary-meta {
        flex-direction: row;
        justify-content: center;
        padding-bottom: 0;
        padding-top: 0;
        li {
            margin: 0.5em;
        }
    }
    
}

.nav-site-title {
    font-family: halant, serif;
    font-weight: 500;
    font-size: 35px;
    text-align: center;
    margin-bottom: 1em;
    margin-top: 0.5em;
}

.closebtn {
    position: absolute;
    top: 0;
    right: 0px;
    font-size: 16px;
    color: colour(primary);
    font-weight: 500;
    padding: 1em 0.5em 0 0;
    .fa-long-arrow-alt-right {
        font-size: 22px;
        position: absolute;
        right: 15px;
    }
}

.menu-toggle {
    display: flex;
    align-items: center;
    background-color: colour(bg);
    color: colour(primary);
    font-weight: bold;
    font-family: 'museo-sans', sans-serif;
    text-transform: uppercase;
    padding-left: 2em;
    span {
        padding: 0 1em;
    }
    
    cursor: pointer;
    -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 59% 100%);
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 59% 100%);
}


input[type=search] {
    border: 0;
    background: #fff;
    margin-left: 10px;
    &:focus {
        box-shadow: 0 0 0;
        border: 0;
        color: color(detail);
    }
 }
.search-form {
    display: flex;
    justify-content: center;
    label {
        border: 1px solid colour(primary);
        background: #fff;
        padding: 1em;
        display: flex;
        align-items: center;
        min-height: 55px;
        @include respond-to(creek) {
            display: block;
            padding: 0.2em;
            
        }
        border-radius: 50px;
        &:after{
            content: '\f002';
            font-family: 'Font Awesome 5 Solid';
            color: colour(primary);
            padding: 0.5em;
            font-size: 16px;
        }
        input[type='search'] {
            padding: 0 !important;
            @include respond-to(creek) {
                padding: 0.5em !important;
            }
        }
//        &:focus {
//            box-shadow: inset 0px 0px 10px 0px colour(primary);
//        }
        
    }
    .search-submit {
        display: none;
    }
}
*::-webkit-input-placeholder {
    color: colour(darklight);
    font-family: halant, serif;
    font-size: 16px;
    padding: 0 0.4em 0 0;
}

.nav-social {
    text-align: center;
//    margin-top: 2em;
    a {
        margin-right: 1em;
        font-size: 20px;
        &:last-child {
            margin-right: 0;
        }
    }
}

#ad-header-menu {
    a {
        border-bottom: 1px solid transparent;
        &:hover {
            border-bottom-color: #fff;
        }
    }
    .sub-menu {
        display: none;
        list-style: none;
        margin: 0;
        text-align: center;
        line-height: $line-h;
        padding-top: 2em;
        margin-left: 1.7em;
        text-align: left;
        li {
            &:before {
                content: '';
                margin: 0;
            }
            &:last-child {
                padding-bottom: 1em;
            }
            padding: 1em 1em 0 1em;
            background-color: colour(bg);
        }
        a {
            color: colour(detail);
            background-color: colour(bg);
            border-bottom: 0px;
            &:hover {
                border-bottom: 0px;
                color: colour(highlighter);
            }
        }
    }
    .menu-item-has-children > a {
        &:after {
            margin-left: 5px;
            content: "\f0d7";
            font-family: "Font Awesome 5 Solid";
            color: #fff;
        }
    }
    .menu-item-has-children {
        &:hover {
            a + .sub-menu {

                @include respond-to(creek) {
                    animation: fadein 0.5s;
                    @keyframes fadein {
                        from { opacity: 0; }
                        to   { opacity: 1; }
                    }
                    display: block;
                    position: absolute;
                }
            }
        }
    }
}

.header-meta-menu {
    a {
        border-bottom: 1px solid transparent;
        &:hover {
            border-bottom-color: #fff;
        }
    }
}