.note {
    margin-top: 2em;
    color: colour(darklight);
    text-align: center;
    font-size: 16px;
    padding: 0 2em;
    p {
        font-weight: 500;
    }
    
    @include respond-to(river) {
        padding: 0;
    }
    .button-wrapper {
        margin: 2em 0;
        a {
//            background-color: colour(secondary);
            border-radius: 50px;
//            color: #fff;
            padding: 0.5em 1.7em;
            font-family: halant, serif;
            font-weight: 300;
            transition: all 0.5s ease;
        }
    }
}

.note-white {
    color: #fff;
}