.page-template-default {
    article.type-page {
        header {
            text-align: center;
            margin-bottom: 3em;
            .entry-title {
                max-width: $line-l;
                margin: 0 auto;
                margin-bottom: 0.5em;
                margin-top: 2em;
            }
        }
        .entry-content {
            max-width: $line-l;
            margin: 0 auto;
            padding: 0 1em;
            h2,h3,h4,h5,h6 {
                margin-top: 1.5em;
            }
        }
    }
}

.search-results {
    article header {
        text-align: center;
    }
}