.single-post {
    #masthead {
        margin-bottom: 0;
    }
    #colophon {
        margin-top: 0;
    }
    #comments {
        margin-bottom: 1em;
    }
    .featured-image-post {
        img {
            height: 300px;
            @include respond-to(creek) { 
                height: 600px;
            }
            
        }
    }
}
.featured-image-post {
    img {
        object-fit: cover;
        object-position: center;
        width: 100%;
    }
    margin-bottom: 3em;
}
article.post {

    header {
        text-align: center;
        margin-bottom: 3em;
        .entry-title {
            max-width: $line-l;
            margin: 0 auto;
            margin-bottom: 0.5em;
            margin-top: 2em;
        }
        .cat-links {
//            text-transform: uppercase;
            a {
//                color: colour(primary);
                &:hover {
//                    border-bottom-color: colour(primary);
                }
            }
        }
        .posted-on {
            font-style: italic;
            a {
                color: colour(detail);
                &:hover {
                    border-bottom-color: colour(detail);
                }
            }
        }
    }
    .entry-content {
        max-width: $line-l;
        margin: 0 auto;
        padding: 0 1em;
        @include respond-to(river) {
            padding: 0;
        }
        p {
            line-height: 2.3em;
            max-width: 700px;
            margin-bottom: 2em;
        }
        h2,h3,h4,h5,h6 {
            margin-top: 1.5em;
        }
    }
    footer {
        margin-top: 4em;
        display: flex;
        flex-direction: column;
        padding: 2em 4em 1em 4em;
        text-align: center;
        @include respond-to(creek) {
            flex-direction: row;
            padding: 0 4em;
            text-align: left;
        }
        align-items: center;
        justify-content: space-between;
        background: colour(secondary);
        color: #fff;
        
        font-size: 19px;
        .button-wrapper .button-ghost {
            display: block;
            text-align: center;
        }
        .post-cta-text {
            p {
                margin-bottom: 0;
            }
        }
    }
    
    
}