.testimonials {
    h2 { 
        text-align: center;
    }
    max-width: 100%;
}

.testimonials .component-wrapper {
    
    .flickity-prev-next-button.next {
//        top: 60%;
        right: 8px;
        @include respond-to(creek) {
            right: 30px;
//            top: 64%; 
        }
    }
    .flickity-prev-next-button.previous {
//        top: 60%; 
        left: 8px;
        @include respond-to(creek) {
            left: 30px;
//            top: 64%;
        }
    }
    article {
        width: 100%;
        text-align: center;
        background: colour(bg);
        
    }
    .no-pic {
//        top: 75%;
//        transform: translateY(-50%);
//        padding: 50px 0 100px 0;
    }
    header {
        background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, rgba(247, 245, 242, 1) 51%, rgba(247, 245, 242, 1) 100%);
        padding-bottom: 0.5em;
        height: 200px;
    }
    figure {
        height: 200px;
        width: auto;
        clip-path: circle(100px at center);
        background: #fff; 
//        background: red;
        margin: 0 auto;
    }
    img {
        height: 200px;
        width: auto;
        clip-path: circle(96px at center);
        display: block;
        margin: 0 auto;
    }
    .content {
        font-style: italic;
        width: 70%;
        margin: 0 auto;
        max-width: 550px;
        height: 285px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-bottom: 0.5em;
        overflow: hidden;
        @include respond-to(creek) {
            height: 125px;
        }
        p:last-child {
            margin-bottom: 0;
        }
    }
    .testimonial-read-more {
        a {
           color: colour(darklight); 
        }
        
        padding: 0.5em 0;
    }
    footer {
        padding-bottom: 1em;
    }
    footer cite {
        color: colour(highlighter);
        font-family: halant, serif;
        font-weight: 300;
        font-size: 20px;
    }
    /* big buttons, no circle */
    .flickity-prev-next-button {
//      width: 100px;
//      height: 100px;
      background: transparent;
    }
    .flickity-prev-next-button:hover {
      background: transparent;
    }
    /* arrow color */
    .flickity-prev-next-button .arrow {
      fill: colour(highlighter);
    }
    .flickity-prev-next-button.no-svg {
      color: colour(highlighter);
    }
    /* hide disabled button */
    .flickity-prev-next-button:disabled {
      display: none;
    }
    .flickity-page-dots {
        display: none;
    }
}

.full-quote {
    width: 85vw;
    background: colour(bg);
//    padding: 4em;
    margin: 0 auto;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    @include respond-to(river) {
//        width: 50vh;
    }
    figure {
        height: 200px;
        width: auto;
        clip-path: circle(100px at center);
        background: #fff; 
//        background: red;
        margin: 0 auto;
        margin-bottom: 2em;
        order: 2;
    }
    img {
        height: 200px;
        width: auto;
        clip-path: circle(96px at center);
        display: block;
        margin: 0 auto;
    }
    &__content {
        font-style: italic;
        width: 70%;
        margin: 0 auto;
        max-width: 550px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 1em;
        overflow: hidden;
        order: 3;
        p:last-child {
            margin-bottom: 0;
        }
    }
    cite {
        margin-top: 2em;
        display: block;
        color: colour(highlighter);
        font-family: halant, serif;
        font-weight: 300;
        font-size: 20px;
        text-align: center;
        order: 4;
        margin-bottom: 2em;
    }
    button.mfp-close {
        align-self: flex-end;
        position: static;
        color: colour(detail);
        opacity: 1;
        font-weight: bold;
    }
}
