.tiles {
    display: grid;
    grid-gap: 2em;
    margin-bottom: 4em;
    
    @include respond-to(lake) {
        grid-template-columns: 1fr 1fr;
    }

    .tile {
        padding: 2em;
        background: colour(bg);
//        border-radius: 10px;
//        height: 350px;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: all 0.5s ease;
        figure {
            margin: 1em auto;
            img {
                height: 75px;
                width: auto;
            }
        }
        h2 {
            font-family: halant, serif;
            font-weight: 500;
            font-size: 19px;
            margin-bottom: 1em;
        }
        .tile-content {
            max-width: 75%;
        }
        &:hover {
//            filter: drop-shadow(2px 1px 10px rgba(183, 194, 201, 1));
        }
        .button-wrapper {
            margin: 2em 0;
            a {
//                background-color: colour(highlighter);
//                border-radius: 50px;
//                border-color: colour(highlighter);
//                color: #fff;
//                padding: 0.5em 1.7em;
//                font-family: halant, serif;
//                font-weight: 300;
//                transition: all 0.5s ease;
            }
        }
        .ad-optin {
            padding: 1em 5em 0em 5em;
            .womc-fields {
                margin-bottom: 0;
            }
            input[type="email"] {
                width: 100%;
            }
        }
        
    }
    .tile.transparent {
        background: transparent;
    }
    .tile.orange {
        background: colour(highlighter);
        color: #fff;
        .button {
            border: 1px solid #fff;
            background-color: colour(highlighter);
            &:hover {
                color: colour(highlighter);
                background-color: #fff;
                border: 1px solid #fff;
            }
        }
    }
    .tile.blue {
        background: colour(primary);
        color: #fff;
        .button {
            border: 1px solid #fff;
            background-color: colour(primary);
            &:hover {
                color: colour(primary);
                background-color: #fff;
                border: 1px solid #fff;
            }
        }
    }
    .tile.detail {
        background: colour(detail);
        color: #fff;
        .button {
            border: 1px solid #fff;
            background-color: colour(detail);
            &:hover {
                color: colour(detail);
                background-color: #fff;
                border: 1px solid #fff;
            }
        }
    }
}