.woocommerce {
//    .wc-proceed-to-checkout {
//        @extend .button-wrapper;
//    }
    ul {
        list-style: none;
        li {
            &:before {
                content: '';
                margin-right: 0;
                display: none;
            }
        }
    }
    .coupon {
        @extend .button-wrapper;
        margin: 0.5em 0;
    }
    a.button.alt {
        border: 1px solid colour(secondary);
        background-color: colour(secondary);
        border-radius: 50px;
        color: #fff;
        padding: 0.5em 1.7em;
        font-family: halant, serif;
        font-weight: 300;
        transition: all 0.5s ease;
//        display: block;
//        text-align: center;
        &:hover {
            background: transparent;
            color: colour(secondary);
            
        }
        &:visited {
            color: #fff;
        }
    }
    
    table.shop_table th {
        padding-top: 0.5em;
    }
    table.shop_table {
        button.button:disabled {
	        opacity: 0 !important;
        }
        td {
            padding-top: 0.5em;
        }
        .product-name {
            a {
                color: colour(highlighter);
            }
        }
    }
    
//    .woocommerce-form-coupon-toggle {
        .woocommerce-info {
            background: colour(bg);
            border-top-color: colour(darklight);
            &:before {
                color: colour(darklight);
            }
        }
//    }
    .woocommerce-checkout #payment {
        background: colour(light);
        #place_order {
            border: 1px solid colour(secondary);
            background-color: colour(secondary);
            border-radius: 50px;
            color: #fff;
            padding: 0.5em 1.7em;
            font-family: halant, serif;
            font-weight: 300;
            transition: all 0.5s ease;
    //        display: block;
    //        text-align: center;
            &:hover {
                background: transparent;
                color: colour(secondary);

            }
            &:visited {
                color: #fff;
            }
        }
    }
    form {
        padding: 0 1em;
        @include respond-to(creek) {
            padding: 0;
        }
    }
    form .form-row {
        margin: 1em 0;
    }
    .woocommerce-input-wrapper {
        input, textarea {
            padding: 0.5em;
            font-family: 'museo-sans', serif;
            border-color: colour(darklight);
            margin: 1em;
            transition: 0.5s ease all;
            &::placeholder {
                font-family: 'museo-sans', serif;
            }
            &:focus {
                border-bottom: 1px solid colour(highlighter);
            }
        }
    }
    .woocommerce-MyAccount-navigation {
        float: none;
        width: 100%;
        ul {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            li {
                margin: 0.5em 1em;
                &:before {
                    content: '';
                    margin-right: 0;
                }
            }
        }
    }
    .woocommerce-MyAccount-content {
        float: none;
        width: 100%;
    }

    
}


//
.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt, .woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button,  {
    @extend .button;

}
.woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button {
    @extend .button;
}
.woocommerce #content table.cart td.actions .input-text, .woocommerce table.cart td.actions .input-text, .woocommerce-page #content table.cart td.actions .input-text, .woocommerce-page table.cart td.actions .input-text {
    width: auto;
}

.woocommerce .woocommerce-customer-details address {
    border: 0px;
}

.return-to-shop {
    display: none !important;
}

.woocommerce-cart-notices {
    max-width: $line-l;
    margin: 0 auto;
}

.woocommerce-error {
    li {
        margin-bottom: 0;
        &:before {
            content: '';
        }
    }
}