// LISTS

ul, ol {
	margin: 0 0 1.5em 3em;
    line-height: $line-h;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
//	font-weight: bold;
}

dd {
//	margin: 0 1.5em 1.5em;
    margin: 0;
}

ul {
  list-style-type: none;
  margin-left: 0;
}

ul > li:before {
    content: '–';
    color: colour(primary);
//    margin-left: -1.5em;
    margin-right: 1em;
    font-weight: bold;
}

ul li {
    margin-bottom: 1em;
}

.select2-container {
    ul {
        li:before {
            content: '';
            margin-right: 0;
        }
    }
}