h1,h2,h3,h4,h5,h6 {
    margin-bottom: 1em;
}

h2 {
    font-family: halant, serif;
    font-weight: 500;
    font-size: 26px;
    
}

h1, .h1 {
    font-family: halant, serif;
    font-weight: 500;
    font-size: 33px;
}



h3 {
    font-family: halant, serif;
    font-weight: 300;
    font-size: 22px;
    
}

h4 {
    font-family: halant, serif;
    font-weight: 500;
    font-size: 18px;
    
}

h5 {
    font-family: 'museo-sans', sans-serif;
    font-weight: 500;
    font-size: 15px;
    
}

h6 {
    
}

em {
    font-style: italic;
}

strong {
    font-weight: bolder;
}

p {
    margin-bottom: 1em;
    line-height: $line-h;
    font-weight: 300;
}

blockquote {
    
}

a {
    text-decoration: none;
    color: colour(highlighter);
    font-weight: 300;
    border-bottom: 1px solid transparent;
    transition: all 0.5s ease;
    &:hover {
        border-bottom: 1px solid colour(highlighter);
    }
    &:visited {
        color: colour(darklight);
        border-bottom: 1px solid colour(darklight);
    }
}
.button a {
    &:hover {
        border-bottom: 1px solid transparent;
    }
    &:visited {
        border-bottom: 1px solid transparent;
    }
}

footer a, .menu li a {
    &:visited {
        color: inherit;
    }
}

mark {
    background: colour(primary);
    color: #fff;
    padding: 0.2em;
}

.svg-inline--fa.fa-w-14 {
    width: 1em !important;
}
@import "typography-lists";
@import "typography-forms";