.gform_wrapper input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]) {
    padding: 0.5em;
    font-style: italic;
}

label {
    font-family: halant, serif;
    font-weight: 500 !important;
    font-size: 18px;
}

.gform_wrapper .field_sublabel_above .ginput_complex.ginput_container label, .gform_wrapper .field_sublabel_above div[class*=gfield_date_].ginput_container label, .gform_wrapper .field_sublabel_above div[class*=gfield_time_].ginput_container label, .gform_wrapper .field_sublabel_below .ginput_complex.ginput_container label, .gform_wrapper .field_sublabel_below div[class*=gfield_date_].ginput_container label, .gform_wrapper .field_sublabel_below div[class*=gfield_time_].ginput_container label {
    margin-top: 0.2em !important;
    font-family: 'museo-sans', sans-serif;
    font-weight: 300;
}

.gfield {
    margin: 2em 0 !important;
}

input[type="submit"], .woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button {
        border: 1px solid colour(secondary);
        background-color: colour(secondary);
        border-radius: 50px;
        color: #fff;
        padding: 0.5em 1.7em;
        font-family: halant, serif;
        font-weight: 300;
        transition: all 0.5s ease;
//        display: block;
//        text-align: center;
        &:hover {
            background: transparent;
            color: colour(secondary);
            
        }
}

.gform_wrapper .gform_footer {
    text-align: center;
}

.gform_wrapper ul li {
    &:before {
        content: '';
        display: none;
    }
}

button, input[type='submit'], input[type='button'] {
    -webkit-appearance: none;
}