.tml {
    .wp-social-login-widget {
        text-align: center;
        font-size: 18px;
        margin-bottom: 1.5em;
        .wp-social-login-connect-with {
            margin-bottom: 0.5em;
        }
        .wp-social-login-provider-list {
            padding: 0px;
            margin-bottom: 1em;
            .wp-social-login-provider {
                display: inline-block;
                padding: 5px 10px;
                margin: 5px; 
                font-size: 18px;
                font-weight: bold;
                text-align: center;
                text-decoration: none;
                color: #ffffff !important; 
                &:hover {
                    color: #ffffff !important;
                }
            }
            .wp-social-login-provider-facebook { 
                background-color: #3b5998; 
                &:hover {
                    background-color: #2f4679;
                }
            }
            .wp-social-login-provider-twitter  {
                background-color: #00acee; 
                &:hover {
                    background-color: #0089bd;
                }
            }
            .wp-social-login-provider-google   { 
                background-color: #dd4b39; 
                &:hover {
                    background-color: #b03b2d;
                }
            }
            .wp-social-login-provider-yahoo    { 
                background-color: #7f2db5; 
                &:hover {
                    background-color: #9652c4;
                }
            }  
            .wp-social-login-provider-linkedin { 
                background-color: #0e76a8;
                &:hover {
                    background-color: #0b5e85;
                }
            }  
            .wp-social-login-provider-steam    { 
                background-color: #171515;
                &:hover {
                    background-color: #171515;
                }
            }  
            a {
                border-bottom: 0px;
                &:focus {
                    box-shadow: 0 0 5px colour(detail);
                }
            }
        }
    }
}

