.tml {
    max-width: 500px;
    margin: 0 auto;


}

.tml-login {
    text-align: center;
    span {
        vertical-align: baseline !important;
    }
}

.tml * {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.tml form {
	max-width: 500px;
    margin: 0em auto;
    padding: 2em 4em 1em 4em;
    background: colour(bg);
    box-shadow: 5px 5px 20px -5px rgba(181, 194, 202, 0.8);
}

.tml-user-login-wrap {
//    text-align: center;
}

.tml-field-wrap {
    text-align: center;
}

.tml li.tml-error,
.tml .tml-messages .tml-message {
    &:before {
        content: none;
    }
	color: #333;
	padding: 0.5em;
}

.tml .tml-error {
	border: 1px solid #c00;
	background-color: #ffebe8;
}

.tml .tml-message {
    font-size: 18px;
    color: colour(detail);
    text-align: center;
}

.tml p {
	margin: 0 0 1.5em 0;
	padding: 0;
}

.tml label {
	display: block;
	text-align: center;
    font-size: 18px;
}

.tml .tml-rememberme-wrap label {
	display: inline;
}

.tml input,
.tml textarea,
.tml select {
//	margin: 0.5em 0;
	width: 100%;
    background: #fff;
}

.tml input[type="text"], .tml input[type="password"]  {
    margin: 0.5em 0;
    border: 1px solid colour(primary);
    border-radius: 100px;
    padding: 1em;
    text-align: center;
    color: colour(darklight);
    font-style: italic;
    font-family: 'museo-sans', sans-serif;
    font-weight: 200;
    font-size: 18px;
    background: #fff;
    &:focus {
        border-color: colour(primary);
        box-shadow: 0 0 5px colour(primary);
        color: colour(darklight);
    }
}

.tml input[type="checkbox"],
.tml input[type="radio"],
.tml .tml-rememberme-wrap input {
    -webkit-appearance: none;
    border: 1px solid colour(darklight);
    background: #fff;
    height: 20px;
    vertical-align: sub;
	width: 20px;
    border-radius: 5px;
    margin-right: 5px;
    &:focus {
        box-shadow: 0 0 5px colour(darklight);
    }
    &:checked {
        -webkit-appearance: checkbox;
        height: 15px;
        width: 15px;
        border-radius: 0px;
        vertical-align: middle;
        &:focus {
            box-shadow: 0;
        }
    }
}
.tml-rememberme-wrap {
    text-align: center;
}
.tml-submit-wrap {
    display: block;
    text-align: center;
}
.tml input[type="submit"] {
    -webkit-appearance: none;
    background: colour(primary);
    border: 1px solid colour(primary);
    border-radius: 50px;
    font-family: halant, serif;
    font-size: 18px;
    color: #fff;
    text-transform: capitalize;
    padding: 0.5em 1.5em;
    transition: all 0.5s ease;
    &:hover {
        background: transparent;
        color: colour(primary);
    }
    &:focus {
        box-shadow: 0 0 5px colour(primary);
    }
    
}

.tml .tml-links {
	display: flex;
    justify-content: center;
	list-style: none;
	margin: 1em auto 0.5em auto;
	padding: 0;
	text-align: center;
    font-size: 18px;
}

.tml .tml-links li {
    &:before {
        content: none;
    }
	border: none;
	border-right: 1px solid rgba(0, 0, 0, 0.1);
	float: left;
	line-height: 1;
	list-style: none;
	margin: 0 0.5em 0 0;
	padding: 0 0.5em 0 0;
}

.tml .tml-links li:last-child {
	border-right: none;
	margin-right: 0;
	padding-right: 0;
}

.tml .tml-links a {
    color: colour(darklight);
	border: none;
	display: block;
	padding: 0;
	text-decoration: none;
}



.tml .tml-user-avatar {
	text-align: left;
}

.mu_register .hint {
	font-size: 12px;
	margin-bottom: 10px;
	display: block;
}

.mu_register label.checkbox {
	display: inline;
}

#pass-strength-result {
	background-color: #eee;
	border: 1px solid #ddd;
	color: #23282d;
	font-weight: 600;
	margin: 0;
	padding: 3px 5px;
	text-align: center;
	width: 100%;
	opacity: 0;
}

#pass-strength-result.short {
	background-color: #f1adad;
	border-color: #e35b5b;
	opacity: 1;
}

#pass-strength-result.bad {
	background-color: #fbc5a9;
	border-color: #f78b53;
	opacity: 1;
}

#pass-strength-result.good {
	background-color: #ffe399;
	border-color: #ffc733;
	opacity: 1;
}

#pass-strength-result.strong {
	background-color: #c1e1b9;
	border-color: #83c373;
	opacity: 1;
}

.pw-weak {
	display:none;
}

.indicator-hint {
	padding-top: 8px;
}

#pass1,
#pass1-text {
	width: 100%;
}

#pass1-text,
.show-password #pass1 {
	display: none;
}

.show-password #pass1-text
{
	display: inline-block;
}

@media screen and (min-width: 768px) {
	.tml .tml-submit-wrap input {
//		width: auto;
	}

	.tml-login .tml-rememberme-submit-wrap {
//		display: table;
//		margin-bottom: 1.5em;
		width: 100%;
	}

	.tml-login .tml-rememberme-wrap {
//		display: table-cell;
	}

	.tml-login .tml-rememberme-wrap input {
//		margin: 0;
	}

	.tml-login .tml-submit-wrap {
//		display: table-cell;
//		text-align: right;
	}

	.tml-login .tml-submit-wrap input {
		margin: 0;
		width: auto;
	}
}
