.ld-error {
	color: red;
}

.delete_url_upload_assignments{
	text-decoration:none;
}
input#uploadfiles {
	font-size: .75em;
	padding: 10px;
}
.clear_both {
	clear: both;
}
.learndash_checkout_buttons {
	overflow: hidden;
	position: relative;
	margin: 20px 0;
}
.learndash_checkout_buttons .learndash_checkout_button  br {
	display:none;
}
.learndash_checkout_buttons .learndash_checkout_button {
	float:left;
	max-width: 200px;
	margin-right: 20px;
}
.learndash_topic_dots  ul, .learndash_topic_dots  ul li{
    list-style-type: none;
	list-style: none;
	margin: 0;
}

.learndash_topic_dots b, .learndash_topic_dots strong{
margin-right: 10px;
}
.learndash .learndash_topic_dots.type-dots {
	padding-bottom: 10px;
}
.learndash .topic-completed span {
    background: url("images/completed_t.png") no-repeat scroll 0 5px transparent;
    display: inline-block;
    min-height: 28px;
    line-height: 25px;
	vertical-align: middle;
    padding-left: 20px;	
}
.learndash_navigation_lesson_topics_list .topic-completed span {
 background: url("images/completed_t_navigation.png") no-repeat scroll 0 8px transparent;
    display: inline-block;
   	min-height: 26px;
    line-height: 25px;
	vertical-align: middle;
    padding-left: 20px;	
}
.learndash .topic-notcompleted  span {
    background: url("images/notcompleted_t.png") no-repeat scroll 0  5px transparent;
    display: inline-block;
 	min-height: 28px;
    line-height: 25px;
    padding-left: 20px;
	vertical-align: middle;
}
.learndash_navigation_lesson_topics_list .topic-notcompleted  span{
 background: url("images/notcompleted_t_navigation.png") no-repeat scroll 0 8px transparent;
    display: inline-block;
  	min-height: 26px;
    line-height: 25px;
    padding-left: 20px;
	vertical-align: middle;
}

.learndash_topic_dots ul .topic-completed span, .learndash_topic_dots ul .topic-notcompleted span {
	text-decoration: underline;
    padding-left: 30px;	
	margin: 10px 0;	
}
.rtl .learndash .topic-completed span, 
.rtl .learndash .topic-notcompleted span {
	padding-left: 0px;
	padding-right: 35px;
	background-position: right 5px;
}
.rtl .learndash_navigation_lesson_topics_list .topic-notcompleted  span,
.rtl .learndash_navigation_lesson_topics_list .topic-completed  span {
	padding-right: 20px;
	padding-left: 0;
	background-position: right 8px;
}

 
#course_navigation .learndash_topic_widget_list  a > span {
	overflow: hidden;
	margin: 0 0 0 5px;
}
#course_navigation .learndash_topic_widget_list > ul {
	margin: 0;
}

#course_navigation .learndash-current-menu-item a {
	font-weight: bold;
}


.learndash .learndash_topic_dots.type-list a > span {
	min-width: 80%;
}
#learndash_course_content .learndash_topic_dots  ul{
	padding: 0 ;
	margin: 0 ;
}
#learndash_course_content  .learndash_topic_dots  ul > li {
	width: 100%;
	display: block;
	background: white;
}
#learndash_course_content  .learndash_topic_dots  ul > li a {
	padding: 0 10px 0 10px;
}
#learndash_course_content  .learndash_topic_dots  ul > li:nth-of-type(odd) {
    background: #f3f3f3;
}

.list_arrow.expand {
    background: url("images/gray_arrow_expand.png") no-repeat scroll 0 50% transparent;
	padding: 5px;
}
.active .list_arrow.expand {
    background: url("images/green_arrow_expand.png") no-repeat scroll 0 50% transparent;
	padding: 5px;
}
.active .list_arrow.collapse {
    background: url("images/green_arrow_collapse.png") no-repeat scroll 0 50% transparent;
	padding: 5px;
}

.list_arrow.collapse {
    background: url("images/gray_arrow_collapse.png") no-repeat scroll 0 50% transparent;
	padding: 5px;
}
.list_arrow.collapse.lesson_completed {
    background: url("images/green_arrow_collapse.png") no-repeat scroll 0 50% transparent;
	padding: 5px;
}

.lesson_incomplete.list_arrow.collapse {
    background: url("images/gray_arrow_collapse.png") no-repeat scroll 0 50% transparent;
	padding: 5px;
}

.list_arrow.expand.lesson_completed {
    background: url("images/green_arrow_expand.png") no-repeat scroll 0 50% transparent;
	padding: 5px;
}

.lesson_incomplete.list_arrow.expand {
    background: url("images/gray_arrow_expand.png") no-repeat scroll 0 50% transparent;
	padding: 5px;
}
.rtl .active .list_arrow.collapse, .rtl .list_arrow.collapse.lesson_completed {
	background-image: url("images/green_arrow_collapse_rtl.png");
}
.rtl .list_arrow.collapse, .rtl .lesson_incomplete.list_arrow.collapse {
    background-image: url("images/gray_arrow_collapse_rtl.png");	
}

.certificate_icon {
    background: url("images/certificate-icon-small.png") no-repeat scroll 0 0 transparent;
    width: 23px;
    height: 23px; 
    margin: auto;
	background-size: 23px;
}

.certificate_icon_large {
    background: url("images/certificate-icon-large.png") no-repeat scroll 0 0 transparent;
    width: 53px;
    height: 53px; 
    margin: auto;
	background-size: 40px;
}

.statistic_icon {
    background: url("images/statistics-icon-small.png") no-repeat scroll 0 0 transparent;
    width: 23px;
    height: 23px;
    margin: auto;
	background-size: 23px;
}

.learndash_profile_quizzes .certificate {
	vertical-align: middle;
}

.learndash_profile_quizzes .statistics {
	vertical-align: middle;
}

.learndash_profile_quizzes .scores {
	vertical-align: middle;
}

.learndash_profile_quizzes .learndash_profile_quiz_heading .certificate {
	vertical-align: middle;
}
.learndash_profile_quizzes .scores, .learndash_profile_quizzes .quiz_date, .learndash_profile_quizzes .certificate, .learndash_profile_quizzes .statistics {
	text-align: center;
}
.learndash_profile_quizzes .passed .scores {
	color: green;
}
/*.learndash_profile_quizzes .passed .quiz_title {
	background: url("images/check.png") no-repeat scroll 4%  50% transparent;
	padding-left: 6%
}
.learndash_profile_quizzes .failed .quiz_title {
	background: url("images/cross.png") no-repeat scroll 4%  60% transparent;
	padding-left: 6%

}*/
.learndash_profile_quizzes .passed_icon {
	background: url("images/check.png") no-repeat left bottom;
	display: inline-block;
	width: 13px;
	height: 13px;
	margin-left: 3%;
	margin-right: 3%;

}
.learndash_profile_quizzes .failed_icon {
	background: url("images/cross.png") no-repeat left bottom;
	display: inline-block;
	width: 13px;
	height: 13px;
	margin-left: 3%;
	margin-right: 3%;
}
.learndash_profile_quizzes .pending_icon {
	background: url("images/pending.png") no-repeat left bottom;
	display: inline-block;
	width: 13px;
	height: 13px;
	margin-left: 3%;
	margin-right: 3%;
}
/*.rtl .learndash_profile_quizzes .passed .quiz_title, .rtl .learndash_profile_quizzes .failed .quiz_title {
	padding-left: 0;
	padding-right: 6%;
	background-position: 96% 60%;
}*/
.rtl .learndash_profile_quizzes .passed_icon , .rtl .learndash_profile_quizzes .failed_icon, .rtl .learndash_profile_quizzes .pending_icon  {
	background-position: right bottom;
}

#learndash_profile .profile_info {
	padding: 15px; overflow: hidden;
}
#learndash_profile .profile_info .profile_avatar {
	border: 0;float:left; margin-right: 15px; width: 108px;
}
.rtl #learndash_profile .profile_info .profile_avatar {
	float: right;
}
#learndash_profile .profile_info .profile_avatar img {
	border: 6px solid #f3f3f3;
	box-sizing:content-box;
	-moz-box-sizing:content-box;
	-webkit-box-sizing:content-box;
}


#learndash_profile .learndash_profile_details {
	float:left;
}
#learndash_profile .learndash_profile_details > div {
	margin-top: 9px;
}
.rtl #learndash_profile .learndash_profile_details {
	float: right;
	margin-right: 10px;
}

.learndash_navigation_lesson_topics_list  .list_arrow.expand {
	background-position: 50% 10px;
}
.learndash_navigation_lesson_topics_list  .list_arrow.collapse {
	background-position: 50% 5px;
}
#learndash_profile .list_arrow.expand {
	background-position: 50% 30px;
}
#learndash_profile .list_arrow.collapse {
	background-position: 50% 27px;
}
#learndash_lesson_topics_list ul > li:nth-of-type(odd) {
    background: #f9f9f9;
}
#learndash_course_content  .learndash_topic_dots  .nth-of-type-odd, .learndash_navigation_lesson_topics_list .nth-of-type-odd{
    background: #f3f3f3;
}
#learndash_lesson_topics_list ul > li.nth-of-type-odd {
    background: #f9f9f9;
}

#learndash_course_content  .learndash_topic_dots  ul > li:hover {
    background: #ddd;
}

#learndash_course_content  #learndash_lessons .learndash_topic_dots {
	display:none;
}
#learndash_lessons a, #learndash_quizzes a, .expand_collapse a, .learndash_topic_dots a,  .learndash_topic_dots a > span, #learndash_lesson_topics_list span a,  #learndash_profile a, #learndash_profile a span   {
	color: #5980bb;
	text-decoration: none ;
	font-weight: 100;
	font-size: 12px;
	font-family: 'Verdana', 'Geneva', sans-serif;
}
.learndash .completed, #learndash_profile .completed {
/*	background: url(images/completed.png) no-repeat;*/
	display: block;
    line-height: 53px;
	background-position: 97.9% center;
	padding-left: 2%;
	padding-right: 2%;
}
.learndash .notcompleted, #learndash_profile .notcompleted {
	background: url(images/notcompleted.png) no-repeat;
	display: block;
    line-height: 53px;
	background-position: 97.9% center;
	padding-left: 2%;
	padding-right: 2%;
}
.learndash .notavailable, #learndash_profile .notavailable {
	background: url(images/notavailable.png) no-repeat;
	display: block;
    line-height: 53px;
	background-position: 97.9% center;
	padding-left: 2%;
	padding-right: 2%;
}
.rtl .learndash .completed, .rtl #learndash_profile .completed, 
.rtl .learndash .notcompleted, .rtl #learndash_profile .notcompleted, 
.rtl .learndash .notavailable, .rtl #learndash_profile .notavailable  {
	background-position: 2.1% center;
}
 .notavailable {
	color: gray;
	text-decoration: none;
	cursor: default;
}
 h4 small#notavailable_message {
	display:none;
}
.learndash h4 small#notavailable_message {
	font-weight: 100;
	display: block;
}

/*a#course_navigation_course_link {
	background-position: right;
	font-size: 14px;
	font-weight: bold;
	width: 300px;
	vertical-align: middle;	
}*/
/*.course_title{
	background: url("images/home_icon.png") no-repeat  scroll 0 50% transparent;
	background-position: 95% 50%;
	background-color : #ddd;
	padding: 10px;
}*/
#course_navigation a {
	text-decoration: none;
}
	
small.notavailable_message {
	padding-left: 35px;
}

#learndash_back_to_lesson {
	margin-bottom: 15px;
}

.widget_sfwd-lessons-widget .completed {
    font-style: italic;
    text-decoration: line-through;
}

.ld-entry-content .attachment-post-thumbnail {
	float:left;
	margin: 15px;
}

.ld-course-info-my-courses h2 {
	display: inline;
}
.ld-course-info-my-courses img {
	display: inline;
    margin-right: 5%;
    max-width: 30%;
    vertical-align: middle;
}
#learndash_lessons .right, #learndash_quizzes .right, #learndash_profile .learndash_profile_heading .ld_profile_status {
	float: right;
	text-align: center;
	width: 53px;
}

#learndash_profile .learndash_profile_heading .ld_profile_certificate {
	float: right; 
	text-align: center; 
	margin-right: 20px;
}

#learndash_profile .learndash-course-link {
	width: 70%; 
	float: left;
}

#learndash_profile .learndash-course-link a {
	display: block; 
	line-height: 53px; 
	padding: 10px 2%; 
	text-decoration: none ; 
	box-shadow: none;
}

#learndash_profile .learndash-course-status {
	width: 53px; 
	float: right; 
	margin: 0 15px;
}

#learndash_profile .learndash-course-status a {
	text-indent: -999em; 
	line-height: 53px; padding: 10px 2%;  
	text-decoration: none ; 
	box-shadow: none;
}

#learndash_profile .learndash-course-certificate { 
	width: 48px; 
	float: right; 
	text-align: center; 
	margin: 0 15px;
}

#learndash_profile .learndash-course-certificate a {
	display: block; 
	line-height: 53px; 
	padding: 18px 2% 0 2%; 
	text-decoration: none ; 
	box-shadow: none;
}

.rtl #learndash_lessons .right, .rtl #learndash_quizzes .right, .rtl #learndash_profile .right {
	float: left;
}
#learndash_lessons, #learndash_quizzes,  #learndash_profile, #learndash_lesson_topics_list > div {
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    margin-bottom: 20px;
}
/*#course_navigation {
	background-color: #FFFFFF;
	border: 1px solid #DDDDDD;
    border-radius: 4px;
    margin-bottom: 20px;
}*/

#learndash_lessons #lesson_heading, #learndash_profile .learndash_profile_heading, #learndash_quizzes #quiz_heading ,  #learndash_lesson_topics_list div > strong {
    background-color: #f3f3f3;
    color: #333333;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    padding: 1% 2%;
	padding: 1% 3%\9;  /* IE8 and below */
	font-weight: normal;
	margin: 0;
	display: block;
}
.learndash_profile_quiz_heading {
    background-color: #f3f3f3;
   	padding: 1% 2%;
	padding: 1% 3%\9;  /* IE8 and below */
}
#learndash_lesson_topics_list div > strong {
	border-bottom: 1px solid #ddd;
}
.widget_sfwd-lessons-widget ul li a {font-size: 12px ; line-height: 12px ; }
.widget_sfwd-lessons-widget ul {padding: 10px ;}
.widget_sfwd-lessons-widget ul > li > h4 {margin: 0; padding: 0;}

#learndash_lessons > div > div, #learndash_quizzes > div > div {
	border: 1px solid #ddd;
}
#learndash_lessons h4 > a:hover, #learndash_quizzes  h4 > a:hover, #learndash_lesson_topics_list ul > li > span.topic_item:hover {
	background-color: #ddd;
}
#learndash_lessons a, #learndash_quizzes a, .expand_collapse a, .learndash_topic_dots a,  .learndash_topic_dots a > span, #learndash_lesson_topics_list span a   {
	text-decoration: none ;
	font-weight: 100;
	font-size: 12px;
}
#learndash_lessons, #learndash_quizzes, .expand_collapse, .notavailable_message,  #learndash_lesson_topics_list div > strong,  #learndash_lesson_topics_list div ul > li .sn, .learndash_profile_heading, #learndash_profile a, #learndash_profile div {
	font-size: 12px;
	font-weight: normal;
}


#learndash_profile .course_progress {
	width: 74%;
	float: left;
	margin: 2%;
}
#learndash_profile #course_list .right {
/*	width: 20% ;*/
	padding: 2%;
	text-align: center;
	line-height: 20px;
}
.learndash_profile_quizzes > div > div {
	padding: 5px 0;
}
.expand_collapse {
	width: 100%;
	line-height: 0;
	text-align: right;
	position: relative;
	top: -10px;
	float: right;
}
.rtl .expand_collapse {
	text-align: left;
}
.expand_collapse  a, #learndash_profile .expand_collapse  a {
	color: black;
	font-size: 10px;
}
#lessons_list, #course_list, #quiz_list,.learndash_profile_quizzes, #learndash_lesson_topics_list ul, .learndash_navigation_lesson_topics_list {
	display: table;
	width: 100%;
	margin-bottom: 0;
}
#learndash_lesson_topics_list ul {
	padding: 0;
	margin-left: 0;
}
#lessons_list > div,#course_list > div, #quiz_list > div, .learndash_profile_quizzes > div, #learndash_lesson_topics_list ul > li, .learndash_navigation_lesson_topics_list > div {
	display: table-row;
}
.learndash_topic_dots .sn {display: none;}
#lessons_list > div  > div, #course_list > div  > div, #quiz_list > div  > div, .single-sfwd-lessons #learndash_lesson_topics_list ul > li > span.sn , .singular-sfwd-lessons #learndash_lesson_topics_list ul > li > span.sn { 
	display: table-cell;
	width: 5%;
	text-align: center;
	border-right: 1px solid #ddd;
	border-top: 1px solid #ddd;
}
.learndash_navigation_lesson_topics_list > div > div.list_arrow {
	display: table-cell;
	width: 16px;
	text-align: center;
	padding: 0 ;
}
.learndash_profile_quizzes > div > div {
	display: table-cell;
}
#learndash_profile .profile_edit_profile {
	text-align: center;
	line-height: 1em;
}
#learndash_profile .profile_edit_profile a {
	font-size: 10px;
}
.rtl #lessons_list > div  > div,.rtl #course_list > div  > div,.rtl  #quiz_list > div  > div, .rtl .single-sfwd-lessons #learndash_lesson_topics_list ul > li > span.sn , .rtl .singular-sfwd-lessons #learndash_lesson_topics_list ul > li > span.sn { 
	border-left: 1px solid #ddd;
	border-right: 0;
}
.learndash_navigation_lesson_topics_list .learndash_topic_dots.type-list a > span {
	padding: 0 0 0 25px;
}
#course_navigation .learndash_navigation_lesson_topics_list .lesson {
	margin: 5px;
}

#course_navigation .learndash_navigation_lesson_topics_list ul li {
	margin-left: 0;
	list-style: none;
	background: none;
}
#course_navigation .learndash_navigation_lesson_topics_list .learndash_topic_dots.type-list ul > li {
	padding-left: 10px;
}

.widget ul.learndash-topic-quiz-list {
	margin-left: 15px;
}
#course_navigation .learndash-current-menu-item ul li a {
	font-weight: normal;
}

#lessons_list > div  h4, #course_list > div  h4, #quiz_list > div  h4, #learndash_lesson_topics_list ul > li > span.topic_item  {
	display: table-cell;
	width: 95%;
	border-top: 1px solid #ddd;
	padding: 0;
}
.widget_course_return,#course_navigation .widget_course_return a{
	font-size: 12px;
}
.widget_course_return {
	border-top: 1px solid #ddd;
	margin-top: 10px;
	padding-top: 10px;
}
#learndash_lesson_topics_list ul > li > span.topic_item, .single-sfwd-lessons #learndash_lesson_topics_list ul > li > span.sn, .singular-sfwd-lessons #learndash_lesson_topics_list ul > li > span.sn {
	border-top: 0px;
}
#lessons_list > div  h4 > a, #course_list > div  h4 > a, #quiz_list > div  h4  > a {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 2%;
	display: block;

	padding-right: 75px;
	/*line-height: 2em;
	min-height: 75px;*/
}
.rtl #lessons_list > div  h4 > a,.rtl #course_list > div  h4 > a,.rtl  #quiz_list > div  h4  > a {
	padding-left: 75px;
	padding-right: 2%;
}
.single-sfwd-lessons #learndash_lesson_topics_list ul > li > span a, .singular-sfwd-lessons #learndash_lesson_topics_list ul > li > span a {
	padding-left: 2%;
	display: block;
}
.rtl.single-sfwd-lessons #learndash_lesson_topics_list ul > li > span a, .rtl.singular-sfwd-lessons #learndash_lesson_topics_list ul > li > span a {
	padding-right: 2%;
}
.learndash_topic_dots.type-list a{display: block;}
.list-count, .widget .list-count {display: none;}
 #lessons_list .list-count, #quiz_list .list-count{display: table-cell;}

.btn-join, #btn-join, .learndash_checkout_buttons input.btn-join[type="button"], a#quiz_continue_link  {
  border: none;
  font-weight: normal;
  background: #5CB85C;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-transition: border .25s linear, color .25s linear, background-color .25s linear, background .25s linear  ;
  transition: border .25s linear, color .25s linear, background-color .25s linear, background .25s linear  ;
  color: #ffffff ;
  background-color: #5CB85C;
  padding: 10px 19px;
  font-size: 17px;
  line-height: 1.471;
  border-radius: 6px;
  white-space: normal;
  text-decoration: none ;
  height: auto ;
  cursor: pointer;
}
.btn-join:hover,
.btn-join:focus,
.btn-join:active,
.btn-join:visited,
.btn-join.active, 
#btn-join:hover, 
#btn-join:focus,
a#quiz_continue_link:hover, 
.learndash_checkout_buttons input.btn-join[type="button"]:hover, 
a#quiz_continue_link:focus {
  color: #ffffff;
  background-color: #58d68d;
  border-color: #58d68d;
}
.btn-join:active,
.btn-join.active, #btn-join:active, #btn-join.active, a#quiz_continue_link:active {
  background-color: #27ad60;
  border-color: #27ad60;
}
.btn-blue, .learndash_checkout_button  input[type="submit"] {
  border: none;
  font-weight: normal;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-transition: border .25s linear, color .25s linear, background-color .25s linear, background .25s linear  ;
  transition: border .25s linear, color .25s linear, background-color .25s linear, background .25s linear  ;
  color: #ffffff ;
  background-color: #3498DB;
  background: #3498DB;
  padding: 10px 19px;
  font-size: 17px;
  line-height: 1.471;
  border-radius: 6px;
  white-space: normal;
  text-decoration: none ;
}
a.btn-blue:hover, .btn-blue:hover, .learndash_checkout_button  input[type="submit"]:hover,
a.btn-blue:focus, .btn-blue:focus, .learndash_checkout_button  input[type="submit"]:focus,
a.btn-blue:active, .btn-blue:active, .learndash_checkout_button  input[type="submit"]:active,
a.btn-blue:visited, .btn-blue:visited, .learndash_checkout_button  input[type="submit"]:visited {
  color: #ffffff;
  background-color: #5dade2;
  border-color: #5dade2;
}
.quiz_continue_link, .slickQuizWrapper .quizReturn{
	margin: 20px 0 ;
}	
dd.course_progress {
    display: block;
    margin: 10px auto;
    padding: 0;
    position: relative;
    width: 90%;
    background-color: #F5F5F5;
    border: medium none;
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
    height: 20px;
    overflow: hidden;
}
dd.course_progress div.course_progress_blue {
    display: block;
    position: relative;
    text-align: right;
    width: 75%;
    background-color: #5CB85C ;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.15) inset;
    color: #FFFFFF;
    float: left;
    font-size: 12px;
    height: 100% ;
    transition: width 0.6s ease 0s;
}
#learndash_course_content_title {margin-bottom: 5px ;}
#course_progress_details > strong {line-height: 1.6;}

.no_radius {
	border-radius: 0 ;
}
.quiz_title {
	width: 55%;
	line-height: 25px;
	padding-left: 12px ;
}
.certificate {
	width: 15%;
}
.scores {
	width: 10%;
}
.quiz_date {
	width: 20%;
}
#learndash_next_prev_link {margin-top: 10px;}

#ld_categorydropdown {
	margin: 20px 0;
}
#ld_categorydropdown form {
	display: inline-block;
}
#ld_categorydropdown select {
	margin-left: 10px;
}
#ld_categorydropdown span {
	font-weight: bold;
}
#learndash_course_certificate {
	margin: 10px 0;
}
.wpProQuiz_content {
	position: relative;
}
.wpProQuiz_spinner {
	  position: absolute;
	  left: -2%;
	  top: -2%;
	  width: 104%;
	  height: 104%;
	  background: white;
	  z-index: 10000;
	  opacity: 0.9;
	  filter: alpha(opacity=40); /* For IE8 and earlier */
}
.wpProQuiz_spinner > div {
  background-image: url(images/spinner.gif);
  position: relative;
  margin: auto;
  width: 128px;
  height: 128px;
  top: 30%;
}

.wpProQuiz_questionList .graded-disclaimer {
	font-size: .8rem;
}

.wpProQuiz_questionList .graded-disclaimer {
	font-size: .8rem;
}

.wpProQuiz_upload_essay {
	padding: 11px;
	font-size: .75em;
}

.jq-dropdown .jq-dropdown-menu {
	overflow: hidden ;
}

.jq-dropdown .jq-dropdown-menu li {
    list-style: none ;
	list-style-type: none ;
    margin: 0 ;
    padding: 0 ;
	overflow: hidden ;
}

#course_navigation ul.learndash-course-quiz-list {
	margin-left: 0;
	list-style: none;
}

#course_navigation ul.learndash-course-quiz-list li {
	margin-left: 0;
	list-style: none;
}

form#sfwd-mark-complete input#learndash_mark_complete_button[disabled] {
	color: #aaa;
}

form#sfwd-mark-complete p.ld-video-delay-message {
	
}

form#sfwd-mark-complete p.ld-video-delay-message span.time-countdown {
	background-color: #CCC;
	padding: 0 2px;
}